@model BForms.Docs.Areas.Demo.Models.GroupEditorViewModel
@using BForms.Docs.Helpers
@using BForms.Html
@using BForms.Docs.Resources
@using BForms.Models
@using BForms.Grid
@using BForms.Docs.Areas.Demo.Controllers
@using BForms.Editor
@using BForms.Docs.Areas.Demo.Mock

@{
    var builder = Html.BsGroupEditorFor(x => x.Editor);
    builder.Theme = Html.GetTheme();
    
    builder.ConfigureTabs(cfg =>
    {
        var tab2 = cfg.For(x => x.Testers)
            .Template(x => x.Grid, "_TabItem")
            .Template(x => x.Search, "~/Areas/Demo/Views/Contributors/Toolbar/_Search.cshtml")
            .ConnectsWith(GroupEditorProjects.BForms);

        var tab1 = cfg.For(x => x.Developers)
            .Editable()
            .Template(x => x.Grid, "_TabItem")
            .Template(x => x.Search, "~/Areas/Demo/Views/Contributors/Toolbar/_Search.cshtml")
            .Template(x => x.New, "~/Areas/Demo/Views/Contributors/Toolbar/_New.cshtml")
            .ConnectsWith(GroupEditorProjects.BForms, GroupEditorProjects.RequireJs);

        tab1.BulkMove = true;
        tab1.For(x => x.Grid).Avatar(x => x.Name.DisplayValue.Contains("Marius") ?
                    "https://2.gravatar.com/avatar/50e73c9ac16439780dd040694880fe9d" : Url.Content("~/Content/Images/bg-user.png"));
        
        tab2.Toolbar.QuickSearch = true;
        tab2.For(x => x.Grid).Avatar(x => Url.Content("~/Content/Images/bg-user.png"));
        
        cfg.Title = Resource.DevTeam;

    })
        .ConfigureGroups(cfg =>
        {
            cfg.For(x => x.BFormsProject)
                .DisplayText(Resource.AddToBFormsProject)
                .DisplayName(Resource.BFormsProject)
                .Template(x => x.Items, "_GroupItem")
                .Template(x => x.Form, "_RowForm");

            cfg.For(x => x.RequireJsProject)
                .DisplayText(Resource.AddToRequireJsProject)
                .DisplayName(Resource.RequireJsProject)
                .Template(x => x.Items, "_GroupItem");

            cfg.Title = Resource.Projects;

            cfg.FormTemplate(Html.Partial("_GroupEditorForm", Model.Editor.Form));
        })
        .SaveUrl(Url.Action("Save"))
        .IgnoreAjaxRequest(false);

    ViewData["builder"] = builder;
}

@if (Model.Editor != null)
{
    Html.Partial("_GroupEditor", Model.Editor);
}

<script id="js-groupItem" type="text/x-icanhaz">

    <span>{{Name}}</span>

</script>
