<<<<<<< HEAD
﻿@model BForms.Docs.Areas.Demo.Controllers.ContributorsGroupRowModel

@Model.Name

=======
﻿@model BForms.Docs.Areas.Demo.Controllers.ContributorsGroupRowModel

<span>@Model.Name</span>
>>>>>>> BsGroupEditor improvements
