@using BForms.Html
@using BForms.Docs.Resources
@using BForms.Models
@using BForms.Grid
@using BForms.Docs.Areas.Demo.Controllers
@model BForms.Docs.Areas.Demo.Models.GroupEditorViewModel

@{
    ViewBag.Title = "Group Editor Demo";
}

<style type="text/css">
    body {
        max-width: 1400px;
    }

    .ui-effects-transfer {
        border: 1px dotted black;
    }
</style>

<div class="grid_container">

    @Html.Partial("_Editors", Model)

</div>