@using BForms.Docs.Helpers
<h3 id="Example">Example</h3>

<div class="bs-example bs-img-example">
    <img src="@Url.Content("~/Content/images/docs/avatars.jpg")">
</div>

<pre class="prettyprint lang-cs bs-example">
@Html.InsertFileContentCached("~/Views/Docs/Avatar/Source/_Controller.cs.embed")
</pre>