@using BForms.Docs.Helpers
<h3 id="css">CSS styling</h3>

<h4 class="sub_title">Building the grid</h4>
<p>The grid is made from 2 HTML parts:</p>
<p>Grid toolbar and Grid view. Your page can have more than one grid and a grid can have multiple Grid views. All of which is encapsulated in a Grid container.</p>
<p>The structure in our example looks like this:</p>
<div class="bs-example bs-img-example">
    <img src="@Url.Content("~/Content/images/docs/html-grid-structure.png")">
    <img src="@Url.Content("~/Content/images/docs/css-styling-grid.png")">
</div>
<br />

<h4 class="sub_title">How a grid item is formed</h4>
<p>One grid row has two major HTML parts: header and details. 
<p>The header is the part that you’ll see when the items are collapsed. We made this by using the grid system provided by bootstrap, which we encapsulated in a <code>&lt;header&gt;</code> tag.</p>
<p>The grid row details is the one you’ll see after expanding one grid row. In our case this was build using two editable forms, two columns in total, but you can place your content on one or more columns if you like. At the end you’ll find the row controls buttons. They are not placed side by side to show an example of how you can differentiate actions not only through color but also through position. You can change this by removing the <code>pull_right</code> class from the second button.</p>
<p>At a closer look you will find, right before the <code>&lt;header&gt;</code> a <code>&lt;span&gt;</code> with a background color. This is used to highlight different rows in the grid. You can choose whatever colors suits your needs or you can remove it.</p>
<div class="bs-example bs-img-example">
    <img src="@Url.Content("~/Content/images/docs/html-row-structure.png")">
    <img src="@Url.Content("~/Content/images/docs/css-styling-grid-row.png")">
</div>
