@using BForms.Docs.Helpers
<h3 id="Javascript">Javascript</h3>

<p><code>bsGrid</code></p>

<p>
    Configure grid.
</p>

<pre class="prettyprint lang-cs bs-example">
@Html.InsertFileContentCached("~/Views/Docs/Grid/Source/_JavascriptGrid.cs.embed")
</pre>
<br />


<p><code>bsToolbar</code></p>

<p>
    Configure toolbar.
</p>

<pre class="prettyprint lang-cs bs-example">
@Html.InsertFileContentCached("~/Views/Docs/Grid/Source/_JavascriptToolbar.cs.embed")
</pre>
<br />
