@using BForms.Docs.Helpers
<h3 id="Models">Models</h3>

<p>
    In order to render a grid, first you have to define the models and use <code>BsGridModel&#60;TRow&#62;</code> decorated with <code>BsGridAttribute</code> and <code>BsToolbarModel&#60;TSearch, TNew&#62;</code> class.
</p>

<h4 class="sub_title">View Model</h4>
<pre class="prettyprint lang-cs bs-example">
@Html.InsertFileContentCached("~/Views/Docs/Grid/Source/_ViewModel.cs.embed")
</pre>

<h4 class="sub_title">Attributes</h4>
<p>
    <code>BsGridAttribute</code> specifies whether the grid supports expandable rows (has details).
</p>
<p>
    <code>BsGridColumnAttribute</code> is used to set the width of a column (total width = 12), the header display name and order.
</p>

<pre class="prettyprint lang-cs bs-example">
@Html.InsertFileContentCached("~/Views/Docs/Grid/Source/_Attributes.cs.embed")
</pre>
