@using BForms.Docs.Helpers
<h3 id="Select">Select helper</h3>

<p>        
    In order to render a text input of type email you will need to use the 
    <code>@@Html.BsInputFor</code> helper extension and 
    decorate your model property with <code>[BsControl(BsControlType.Email)]</code>.
</p>

<h4 class="sub_title">Example</h4>    
<div class="bs-example bs-img-example">
    @*TODO: Insert image*@
</div>

<h4 class="sub_title">Model</h4>
<pre class="prettyprint lang-cs bs-example">
@Html.InsertFileContentCached("~/Views/Components/SelectExtensions/Source/SelectHelperModel.cs.embed")
</pre>

<h4 class="sub_title">View</h4>
<pre class="prettyprint lang-cs bs-example">
@Html.InsertFileContentCached("~/Views/Components/SelectExtensions/Source/SelectHelperView.cshtml.embed")
</pre>