@using BootstrapForms.HtmlHelpers
@using BootstrapForms.Models
@model BForms.Docs.Areas.Demo.Models.AuthenticationModel
@{
    ViewBag.Title = "Authentication";  
}
<div class="row js-registerForm">
    @Html.BsPartialPrefixed(m => m.RegisterModel, "_Register", Model)
</div>
<div class="js-loginForm">
    @Html.BsPartialPrefixed(m => m.LoginModel, "_Login", Model)
</div>