@using BForms.Html
@using BForms.Models
@model BForms.Docs.Areas.Demo.Models.AuthenticationModel
@{
    ViewBag.Title = "Authentication";  
}

@if(Model.RegisterModel != null)
{
<div class="row js-registerFormContainer">
    @Html.BsPartialPrefixed(m => m.RegisterModel, "_Register", Model)
</div>
    @Html.Partial("Docs/_Register")
}

@if (Model.LoginModel != null)
{
<div class="row js-loginFormContainer">
    @Html.BsPartialPrefixed(m => m.LoginModel, "_Login", Model)
</div>
    @Html.Partial("Docs/_Login")
}