@using BootstrapForms.Html
@using BootstrapForms.Models
@model BForms.Docs.Areas.Demo.Models.AuthenticationModel
@{
    ViewBag.Title = "Authentication";  
}
<div class="row js-registerFormContainer">
    @Html.BsPartialPrefixed(m => m.RegisterModel, "_Register", Model)
</div>
<div class="row js-loginFormContainer">
    @Html.BsPartialPrefixed(m => m.LoginModel, "_Login", Model)
</div>