@using BForms.Docs.Areas.Demo.Helpers
@{var footer = ViewBag.Footer;}

    <footer>
          <div class="footer">
            <div class="row">
                <div class="col-lg-6">
                    <ul>
                        <li class="copyright">Made by <a href="https://github.com/stefanprodan/BForms/contributors" target="_blank">BForms Team</a> &copy; @DateTime.Now.Year</li>
                        <li class="version">Build @Utils.BFromsVersion() <a href="https://plus.google.com/113191921861815495961" rel="publisher"></a></li>
                    </ul>
                </div>
                 <div class="hidden-sm hidden-xs col-lg-6">                     
                     <p class="pull-right hosted"><img src="@Url.Content("~/Content/images/hosted-on-azure.png")"></p>
                </div>
            </div>
        </div>
    </footer>