@{var footer = ViewBag.Footer;}

    <footer>
          <div class="footer">
            <div class="row">
                <div class="col-lg-6">
                    <ul>
                        <li style="font-size: 14px;">Made by <a href="https://github.com/stefanprodan/BForms/contributors">BForms Team</a> &copy; @DateTime.Now.Year</li>
                    </ul>
                </div>
                 <div class="hidden-sm col-lg-6">
                     <a href="https://github.com/stefanprodan/BForms/" target="_blank" class="pull-right"><img src="@Url.Content("~/Content/images/logo-bforms_small.png")"></a>
                </div>
            </div>
        </div>
    </footer>