<div class="bs-social col-lg-12" style="text-align: left;">
    <ul class="bs-social-buttons" style="margin-bottom: 0; padding-left: 0; list-style: none; margin-top: 35px;">
        <li style="display: inline-block;">
            <iframe src="http://ghbtns.com/github-btn.html?user=stefanprodan&repo=bforms&type=watch&count=false"
                    allowtransparency="true" frameborder="0" scrolling="0" width="55" height="20"></iframe>
        </li>
        <li style="display: inline-block;">
            <iframe src="http://ghbtns.com/github-btn.html?user=stefanprodan&repo=bforms&type=fork&count=false"
                    allowtransparency="true" frameborder="0" scrolling="0" width="60" height="20"></iframe>
        </li>
        <li style="display: inline-block;">
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://bforms.azurewebsites.net" data-text="Bootstrap Forms for ASP NET MVC" data-via="stefanprodan" data-count="none">Tweet</a>
            <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
        </li>
    </ul>
</div>