@using BForms.Docs.Helpers
<h3 id="Input-Email">Email Input</h3>

<p>        
    In order to render a text input of type email you will need to use the 
    <code>@@Html.BsInputFor</code> helper extension and 
    decorate your model property with <code>[BsControl(BsControlType.Email)]</code>.
    Using <code>BsControlType.Email</code> will enforce email validation on both client and server side.
</p>

<h4 class="sub_title">Example</h4>    
<div class="bs-example bs-img-example">
    <img src="@Url.Content("~/Content/images/docs/email-input.jpg")">
</div>

<h4 class="sub_title">Model</h4>
<pre class="prettyprint lang-cs bs-example">
@Html.InsertFileContentCached("~/Views/Components/InputExtensions/Source/InputEmailModel.cs.embed")
</pre>

<h4 class="sub_title">View</h4>
<pre class="prettyprint lang-cs bs-example">
@Html.InsertFileContentCached("~/Views/Components/InputExtensions/Source/InputEmailView.cshtml.embed")
</pre>