<?xml version="1.0" encoding="utf-8" ?>
<!--
  For more information on how to configure RequireJS.NET, please visit
  https://github.com/stefanprodan/RequireJSDotNet
  -->
<configuration>
  <paths>

    <!-- Frameworks -->
    <path key="jquery" value="bforms/components/jquery/jquery" />
    <path key="jquery-migrate" value="bforms/components/jquery/jquery-migrate"/>
    <path key="bootstrap" value="bforms/components/bootstrap/js/bootstrap" />
    <path key="jquery-ui-core" value="bforms/components/jquery-ui/jquery-ui.core"/>
    <path key="amplify" value="bforms/components/amplify/amplify" />

    <!-- Validate -->
    <path key="bforms-validate" value="bforms/plugins/validation/bforms.validate" />
    <path key="bforms-validate-unobtrusive" value="bforms/plugins/validation/bforms.validate.unobtrusive" />

    <!-- DateTime picker -->
    <path key="bforms-datepicker" value="bforms/plugins/datepicker/js/bforms.datepicker" />
    <path key="bforms-datepicker-tmpl" value="bforms/plugins/datepicker/js/bforms.datepicker.tmpl" />
    <path key="bforms-datepicker-range" value="bforms/plugins/datepicker/js/bforms.datepicker.range" />
    <path key="bforms-datepicker-i18n" value="bforms/plugins/datepicker/js/i18n/lang.bundle" />

    <!-- DateTime picker frameworks -->
    <path key="icanhaz" value="bforms/plugins/datepicker/js/lib/icanhaz" />
    <path key="moment" value="bforms/plugins/datepicker/js/lib/moment" />
    <path key="moment-calendar" value="bforms/plugins/datepicker/js/lib/moment.isocalendar" />

    <!-- Radio & Checkbox lists -->
    <path key="bforms-radiolist" value="bforms/plugins/radioButtonList/bforms.radiolist" />
    <path key="bforms-checklist" value="bforms/plugins/checkBoxList/bforms.checklist" />

    <!-- Nav scroll -->
    <path key="bforms-navscroll" value="bforms/plugins/navscroll/bforms.navscroll" />

    <!-- Select2 -->
    <path key="select2" value="bforms/plugins/select2/js/select2" />
    <path key="bforms-select2" value="bforms/plugins/select2/js/bforms.select2" />

    <!-- Typeahead -->
    <path key="typeahead" value="bforms/plugins/typeahead/typeahead" />
    <path key="bforms-typeahead" value="bforms/plugins/typeahead/bforms.typeahead" />

    <!-- UI -->
    <path key="bforms-initUI" value="bforms/plugins/UI/bforms.initui" />
    <path key="bforms-resetInput" value="bforms/plugins/UI/bforms.resetInput" />
    <path key="bforms-extensions" value="bforms/plugins/UI/bforms.extensions" />

    <!-- Grid -->
    <path key="bforms-grid" value="bforms/widgets/grid/js/bforms.grid" />
    <path key="bforms-toolbar" value="bforms/widgets/grid/js/bforms.toolbar" />
    <path key="bforms-pager" value="bforms/widgets/grid/js/bforms.pager" />
    <path key="bforms-editable" value="bforms/widgets/grid/js/bforms.editable" />
    <path key="bforms-form" value="bforms/widgets/grid/js/bforms.form" />
    
    <!-- Toolbar controls -->
    <path key="bforms-toolbar-advancedSearch" value="bforms/widgets/grid/js/bforms.toolbar.advancedSearch" />
    <path key="bforms-toolbar-add" value="bforms/widgets/grid/js/bforms.toolbar.add" />
    <path key="bforms-toolbar-quickSearch" value="bforms/widgets/grid/js/bforms.toolbar.quickSearch" />

    <!--Theme select-->
    <path key="bforms-themeSelect" value="bforms/widgets/utils/bforms.themeSelect" />

    <!-- Utils -->
    <path key="bforms-ajax" value="bforms/widgets/utils/bforms.ajax" />
    <path key="bforms-namespace" value="bforms/widgets/utils/bforms.namespace" />

    <!-- i18n -->
    <path key="validate-ro" value="bforms/plugins/validation/i18n/bforms.validate-ro" />
    <path key="select2-ro" value="bforms/plugins/select2/js/i18n/select2-ro" />

    <!-- RequireJs plugins -->
    <path key="depend" value="bforms/components/requirejs/depend" />
    <path key="i18n" value="bforms/components/requirejs/i18n" />
    <path key="text" value="forms/components/requirejs/text" />
  </paths>
  <shim>
  </shim>
</configuration>