@{
    ViewBag.Title = "Toolbar control";
}

<div class="row">
    <div class="hidden-xs hidden-sm col-md-3 col-lg-3">
        <div class="bs-sidebar">
            <ul class="nav bs-sidenav">
                <li>
                    <a href="#select-section">Toolbar control</a>
                    <ul class="nav">
                        <li><a href="#ToolbarHelper"><strong>Server side</strong></a></li>
                        <li><a href="#ToolbarHelper">Toolbar Helper</a></li>
                        <li><a href="#ToolbarControls">Controls</a></li>
                        <li><a href="#razor-custom-controls">Custom controls</a></li>
                        <li><a href="#javascript"><strong>Client side</strong></a></li>
                        <li><a href="#widget_options">Widget options</a></li>
                        <li><a href="#js_custom_controls">Custom controls</a></li>
                        <li><a href="#manually_controls">Adding controls manually</a></li>
                        <li><a href="#customizing_controls">Customizing controls</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <main class="col-md-9 col-lg-9" role="main">
        <div class="bs-docs-section">
            <div class="page-header">
                <h1 id="select-section">Toolbar</h1>
            </div>
            <p>
                BForms <strong>Toolbar</strong> component in conjuction with <strong>Grid</strong> component are designed to provide rich functionality, cross-browser, cross-device 
                and internationalization support for tabular data providing full CRUD and search operations over complex datasets.
            </p>
            <p>
                On the client side, the Toolbar is deployed as an AMD jQuery widget that supports theming and templates, 
                the styling is done using bootstrap v3 CSS grid system.  
            </p>
            @Html.Partial("Toolbar/_ToolbarHelper")
        </div>

    </main>
</div>
