@using BForms.Docs.Helpers

<h3 id="css-helpers">CSS styling</h3>

<h5>        
    Things to know before you get started
</h5>
<p>BForms is based on a modified version of Twitter Bootstrap, version 3.0.0.</p>
<p>What changes have been made to Twitter Bootstrap?</p>
<ul>
    <li>Changed default font to Calibri</li>
    <li>Removed all rounded corners</li>
    <li>Used custom break-points in media-queries, that we have put to test</li>
    <li>Resolved a float clearing problem on full width columns</li>
    <li>Shrinked form-control height from 38px to 34px</li>
    <li>Glyphicon 1px to top fix </li>
</ul>
<br />
<h5>
    Using SASS or the compiled CSS
</h5>
<p>The component’s CSS is made using SASS. SASS makes CSS fun again. SASS is an extension of CSS3, adding nested rules, variables, mixins, selector inheritance, and more. It’s translated to well-formatted, standard CSS using the command line tool or a web-framework plugin.</p>
<p>If you are not familiar with that you could use the compiled CSS otherwise here are some things to get you started: <a href="http://sass-lang.com/" target="_blank">http://sass-lang.com</a></p>
<p>If you know CSS this won’t take you more than two hours or so to master the basics. Don’t worry, our CSS uses only variables and nesting.</p>
<p>Why did we use SASS over LESS (Twitter Bootstrap uses LESS)? Because updates are easier to maintain, you can write mixins for different screen sizes inside a class and over all SASS is more flexible.</p>
<p>When using our components make sure your site’s CSS is placed after ours. This way you will be able to override things more quickly. </p>
<br />
<h5>
    Customizing CSS 
</h5>
<p>Variables are used only to define the color scheme, so that you could change it accordingly to your site. You’ll find those variables in the top part of the CSS.</p>
<p>Here is what you have to look for:</p>
<p><code>$mainColor: #45ADA8;</code> <code>$navy: #547980;</code> <code>$Gray: #dadada;</code></p>
<p>You only need to replace the HEX color of the $mainColor variable to have a good integration with your site, or you could use some of our predefined color theme.</p>
<p>If you wish to use one of our color theme here’s what you have to do: </p>
<ol>
    <li>Choose one of the colors. Based on these you can use a class named accordingly. The class names are: <code>green</code>, <code>blue</code>, <code>orange</code>, <code>purple</code> and <code>black</code>. </li>
    <li>Forms: look for <code>form_container</code> and add one of the classes mentioned before.</li>
    <li>Grid: look for <code>grid_toolbar</code> and <code>grid_view</code> and add one of the color classes. Here you can do more if you have more than one grid in the page you can theme them differently.</li>
    <li>Pagination: look for <code>bs-pager</code> and add one of the color classes.</li>
    <li>Date-time-picker: look for <code>bs-datetime-picker</code>. If you use the range-picker make sure to add the color class name to the <code>bs-range-picker</code> as well.</li>
</ol>