@using BForms.Docs.Helpers
<h3 id="javascript-components">JavaScript Components</h3>

<p>        
    BForms relies on several JS frameworks and components that are bundled in three file: component.js, widgets.js  and plugins.js
</p>

<h4 class="sub_title">External Javascript components</h4>
<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>JS</th>
            <th>Module name</th>
            <th>Bundle</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td><a href="http://jquery.com/">jQuery</a> <small>v1.x</small></td>
            <td>jquery</td>
            <td>component.js</td>
        </tr>
        <tr>
            <td>2</td>
            <td><a href="http://jqueryui.com/">jQuery UI</a> <small>core</small></td>
            <td>jquery-ui-core</td>
            <td>component.js</td>
        </tr>
        <tr>
            <td>3</td>
            <td><a href="http://getbootstrap.com/">Bootstrap</a> <small>v3.x</small></td>
            <td>bootstrap</td>
            <td>component.js</td>
        </tr>
        <tr>
            <td>4</td>
            <td><a href="http://amplifyjs.com/">Amplify</a> <small>store</small></td>
            <td>amplify</td>
            <td>component.js</td>
        </tr>
        <tr>
            <td>5</td>
            <td><a href="http://ivaynberg.github.io/select2/">Select2</a> <small>customized for BForms</small></td>
            <td>select2</td>
            <td>plugins.js</td>
        </tr>
        <tr>
            <td>6</td>
            <td><a href="http://twitter.github.io/typeahead.js/">Typeahead</a></td>
            <td>typeahead</td>
            <td>plugins.js</td>
        </tr>
        <tr>
            <td>7</td>
            <td><a href="http://icanhazjs.com/">ICanHaz</a> <small>used by DatePicker</small></td>
            <td>icanhaz</td>
            <td>plugins.js</td>
        </tr>
        <tr>
            <td>8</td>
            <td><a href="http://momentjs.com/">Moment</a> <small>used by DatePicker</small></td>
            <td>moment</td>
            <td>plugins.js</td>
        </tr>
    </tbody>
</table>

<h4 class="sub_title">BFroms jQuery Widgets</h4>
<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Widget</th>
            <th>Module name</th>
            <th>Bundle</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Ajax <small>bforms.ajax</small></td>
            <td>bforms-ajax</td>
            <td>widgets.js</td>
        </tr>
        <tr>
            <td>2</td>
            <td><a href="@Url.Action("Grid", "Docs", new { area = "" })#Javascript">Grid</a> <small>bforms.grid</small></td>
            <td>bforms-grid</td>
            <td>widgets.js</td>
        </tr>
        <tr>
            <td>3</td>
            <td><a href="@Url.Action("Grid", "Docs", new { area = "" })#Javascript">Toolbar</a> <small>bforms.toolbar</small></td>
            <td>bforms-toolbar</td>
            <td>widgets.js</td>
        </tr>
    </tbody>
</table>

<h4 class="sub_title">BFroms jQuery Plugins</h4>
<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Plugin</th>
            <th>Module name</th>
            <th>Bundle</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>DatePicker <small>date, time, datetime and range</small></td>
            <td>bforms-datepicker <small>and</small> bforms-datepicker-range</td>
            <td>plugins.js</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Radio and Checkbox list</td>
            <td>bforms-radiolist <small>and</small> bforms-checklist</td>
            <td>plugins.js</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Validate <small>jQuery validation adapted for BForms</small></td>
            <td>bforms-validate <small>and</small> bforms-validate-unobtrusive</td>
            <td>plugins.js</td>
        </tr>
    </tbody>
</table>

<h4 class="sub_title">Internet explorer 7-8 compatibity pack</h4>
<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>JS</th>
            <th>Bundle</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td><a href="http://code.google.com/p/html5shiv/">HTML5 Shiv</a></td>
            <td>iefix.js</td>
        </tr>
        <tr>
            <td>2</td>
            <td><a href="http://responsejs.com/">Respond.js</a></td>
            <td>iefix.js</td>
        </tr>
    </tbody>
</table>