@using BForms.Docs.Resources
@using BootstrapForms.Html
@model BForms.Docs.Areas.Demo.Models.ContributorDetailsModel

<div class="js-readonly">
    @if (!string.IsNullOrEmpty(Model.Contributions))
    {
        <dl>
            <dt>contributions &nbsp;</dt>
            <dd>@Model.Contributions</dd>
        </dl>
    }
</div>
