@using BForms.Docs.Resources
@using BootstrapForms.Html
@model BForms.Docs.Areas.Demo.Models.ContributorDetailsModel

@using (Html.BeginForm())
{
    <div class="col-12 col-sm-4 col-lg-12 form-group @Html.BsValidationCssFor(m => m.Jobs)">
        @Html.BsLabelFor(m => m.Jobs)
        <div class="input-group">
            @Html.BsSelectFor(m => m.Jobs)
        </div>
    </div>
}