@using BForms.Docs.Resources
@using BForms.Html
@using BForms.Models
@model BForms.Docs.Areas.Demo.Models.ContributorDetailsModel

<h3 class="editable">
    @Html.BsGlyphicon(Glyphicon.User)
    Identity
    @Html.BsGlyphicon(Glyphicon.Edit)
</h3>

@Html.Partial("Grid/Details/_IdentityReadonly", Model)

@Html.Partial("Grid/Details/_IdentityEditable", Model)