@using BForms.Docs.Resources
@using BootstrapForms.Html
@model BForms.Docs.Areas.Demo.Models.ContributorDetailsModel

<div class="js-readonly">
    <dl>
        <dt>@Resource.Job:</dt>
        <dd>@Model.Job</dd>
    </dl>
</div>
