@using BForms.Docs.Helpers
<h3 id="Select-DropDownList">DropDownList</h3>

<p>        
    In order to render a single-select input of type dropdown list you will need to use the 
    <code>@@Html.BsSelectFor</code> helper extension and 
    decorate your model property with <code>[BsControl(BsControlType.DropDownList)]</code>.
</p>

<h4 class="sub_title">Example</h4>    
<div class="bs-example bs-img-example">
    <img src="@Url.Content("~/Content/images/docs/dropdown-search-select.jpg")" />
</div>

<h4 class="sub_title">Model</h4>
<pre class="prettyprint lang-cs bs-example">
@Html.InsertFileContentCached("~/Views/Docs/SelectExtensions/Source/DropdownListModel.cs.embed")
</pre>

<h4 class="sub_title">View</h4>
<pre class="prettyprint lang-cs bs-example">
@Html.InsertFileContentCached("~/Views/Docs/SelectExtensions/Source/DropdownListView.cshtml.embed")
</pre>