@using BForms.Docs.Helpers
<h3 id="Select-RadioButtonList">RadioButtonList</h3>

<p>        
    In order to render a single-select input of type radio button list you will need to use the 
    <code>@@Html.BsSelectFor</code> helper extension and 
    decorate your model property with <code>[BsControl(BsControlType.RadioButtonList)]</code>.
</p>

<h4 class="sub_title">Example</h4>    
<div class="bs-example bs-img-example">
    <img src="@Url.Content("~/Content/images/docs/radiolist-select.jpg")" />
</div>

<h4 class="sub_title">Model</h4>
<pre class="prettyprint lang-cs bs-example">
@Html.InsertFileContentCached("~/Views/Docs/SelectExtensions/Source/RadioButtonListModel.cs.embed")
</pre>

<h4 class="sub_title">Data binding</h4>
<pre class="prettyprint lang-cs bs-example">
@Html.InsertFileContentCached("~/Views/Docs/SelectExtensions/Source/RadioButtonListData.cs.embed")
</pre>

<h4 class="sub_title">View</h4>
<pre class="prettyprint lang-cs bs-example">
@Html.InsertFileContentCached("~/Views/Docs/SelectExtensions/Source/RadioButtonListView.cshtml.embed")
</pre>