@using BForms.Docs.Helpers
<h3 id="Select">Select helper</h3>

@*BsSelectFor vs regular *@
@*BsSelectList - one field, generic type, SelectedValues*@
@*from select list, from enum, to select list*@
@*BSselectListItem - grouping, additional data*@
@*list of enum values usable with BsSelectFor*@

<h4 class="sub_title">Select Extensions</h4>
<pre class="prettyprint lang-cs bs-example">
@Html.InsertFileContentCached("~/Views/Docs/SelectExtensions/Source/AllSelectExtensions.cs.embed")
</pre>