@using BForms.Docs.Helpers
<h3 id="css">CSS styling</h3>

<p>
    The grid is made from 2 parts:
    Grid toolbar and Grid view. Your page can have more than one grid and a grid can have multiple Grid views. All of whitch is encapsulated in a Grid container.

</p>
