@using BForms.Docs.Helpers
<h3 id="Range-Number">Number Range</h3>

<p>        
    In order to render a range input of type number you will need to use the
    <code>@@Html.BsRangeFor</code> helper extension and
    decorate your model property of type <code>BsRange&lt;int&gt;</code> with <code>[BsControl(BsControlType.NumberRange)]</code>.
    Using <code>BsRange&lt;int&gt;</code> will enforce number validation on both client and server side.
</p>

<h4 class="sub_title">Example</h4>    
<div class="bs-example bs-img-example">
    <img src="@Url.Content("~/Content/images/docs/number-range.jpg")">
</div>

<h4 class="sub_title">Model</h4>
<pre class="prettyprint lang-cs bs-example">
@Html.InsertFileContentCached("~/Views/Docs/RangeExtensions/Source/NumberRangeModel.cs.embed")
</pre>

<h4 class="sub_title">View</h4>
<pre class="prettyprint lang-cs bs-example">
@Html.InsertFileContentCached("~/Views/Docs/RangeExtensions/Source/NumberRangeView.cshtml.embed")
</pre>

<h4 class="sub_title">Example Initialization</h4>
<pre class="prettyprint lang-cs bs-example">
@Html.InsertFileContentCached("~/Views/Docs/RangeExtensions/Source/NumberRangeRepo.cs.embed")
</pre>

