@using BForms.Docs.Helpers
<h3 id="Range-TimePicker">Time Range Picker</h3>

<p>        
    In order to render a range input of type time you will need to use the
    <code>@@Html.BsRangeFor</code> helper extension and
    decorate your model property of type <code>BsRange</code> with <code>[BsControl(BsControlType.TimePickerRange)]</code>.
    Using <code>BsRange&lt;DateTime?&gt;</code> will enforce time validation on both client and server side.
</p>

<h4 class="sub_title">Example</h4>    
<div class="bs-example bs-img-example">
    <img src="@Url.Content("~/Content/images/docs/timepicker-range.jpg")">
</div>

<h4 class="sub_title">Model</h4>
<pre class="prettyprint lang-cs bs-example">
@Html.InsertFileContentCached("~/Views/Docs/RangeExtensions/Source/TimePickerRangeModel.cs.embed")
</pre>

<h4 class="sub_title">View</h4>
<pre class="prettyprint lang-cs bs-example">
@Html.InsertFileContentCached("~/Views/Docs/RangeExtensions/Source/DatePickerRangeView.cshtml.embed")
</pre>

