/* Custom colors */
.control-panel {
  box-sizing: border-box;
  /* #region Panel heading */
  /* #endregion */
  /* #region Panel body */
  /* #endregion */ }
  .control-panel .panel-heading .control-panel-title a:hover {
    color: white; }
    .control-panel .panel-heading .control-panel-title a:hover .panel-title-text {
      border-bottom: solid 1px; }
  .control-panel .panel-heading .control-panel-title .panel-title-text:before {
    content: "\00a0"; }
  .control-panel .panel-heading .control-panel-title .glyphicon {
    font-size: 15px;
    vertical-align: middle; }
  .control-panel .panel-heading .control-panel-title .control-panel-action {
    color: inherit;
    text-decoration: none; }
  .control-panel .panel-heading .control-panel-title .control-panel-action:not(:last-child) {
    margin-right: 10px; }
  .control-panel .panel-body {
    min-height: 220px; }
    .control-panel .panel-body ul {
      list-style-type: none; }
    .control-panel .panel-body .control-panel-tabs .control-panel-tab {
        margin-left: -40px;
        margin-top: 20px;
    }
    .control-panel .panel-body .control-panel-nav-tabs li:hover {
      background: white; }
    .control-panel .panel-body .control-panel-nav-tabs li.active:hover {
      background: #dddddd; }
    .control-panel .panel-body .control-panel-nav-tabs li a {
      font-size: 18px; }
    .control-panel .panel-body .control-panel-nav-tabs .control-panel-nav-controls-container {
      background: white; }
      .control-panel .panel-body .control-panel-nav-tabs .control-panel-nav-controls-container input.tab-search {
        padding-left: 17px; }
        .control-panel .panel-body .control-panel-nav-tabs .control-panel-nav-controls-container input.tab-search::-webkit-input-placeholder {
          color: gray; }
          .control-panel .panel-body .control-panel-nav-tabs .control-panel-nav-controls-container input.tab-search::-webkit-input-placeholder:before {
            content: "\e003";
            font-family: 'Glyphicons Halflings';
            font-size: 13px;
            font-weight: 500;
            color: gray; }
    .control-panel .panel-body input.tab-search {
      padding-left: 17px; }
      .control-panel .panel-body input.tab-search::-webkit-input-placeholder {
        color: gray; }
        .control-panel .panel-body input.tab-search::-webkit-input-placeholder:before {
          content: "\e003";
          font-family: 'Glyphicons Halflings';
          font-size: 13px;
          font-weight: 500;
          color: gray; }
