$Gray: #dadada;
$darkGray: #585858;
$textGray: #989898;
$textColor: #212121;
$borderColor: #e8e8e8;

.group_editor {
	margin-bottom: 20px;
	display: table;
	border-collapse: collapse;
	width: 100%;
	> div {
		display: table-cell;
		width: 50%;
		border: 1px solid $borderColor;
		vertical-align: top;
		position: relative;
		padding-bottom: 70px;
	}
	.row {
		margin: 0;
	}
	.navbar-default {
		border: none;
		margin: 0;
		.navbar-collapse {
			background: #fff;
		}
		.active a {
			background: #f8f8f8 !important;
		}
	}

	.search {
		padding: 10px 0;
		margin-bottom: 10px;
		background: #f8f8f8 ;
		.btn {
			padding: 6px 12px;
		}
		&.inline {
			.input-group {
				padding: 0 15px;
			}
		}
	}
	.grids_header_submit {
		padding: 5px 10px 0;
	}
	dl {
		dt {
			float: left;
			width: 30%;
			overflow: hidden;
			clear: left;
			text-align: right;
			text-overflow: ellipsis;
			white-space: nowrap;
			font-weight: normal;
			color: #aaa;
		}
		dd {
			margin-left: 30%;
			word-wrap: break-word;
		}
		&.to-left {
			dt {
				width: auto;
				text-align: left;
			}
			dd {
				margin-left: 5px;
				float: left;
			}
		}
	}	
	.profile {
		img {
			max-width: 64px;
			border: 1px solid $borderColor;
		}
		dl {
			margin-top: 0;
		}
		&.large {
			border: 1px solid $borderColor;
			padding: 5px;
			margin-bottom: 5px;
			.users {
				margin-bottom: 0;
				li {
					border: none;
					padding: 0;
				}
			}
		}
	}
	.group_profiles {
		padding: 0 10px;
		list-style: none;
		.select_profile {
			float: right;
		}
		.selected {
			.profile.large {
				border: 1px solid #A3E473;
			}
			.glyphicon {
				color: #77BD43;
			}
		}
	}
	.bs-pager, .counter {
		padding: 0 10px;
		border-top: 1px solid $borderColor;
		position: absolute;
		bottom: 0;
		width: 100%;
	}
	.counter {
		padding: 17px 0;
	}
	.grid_view {
		padding: 10px;
		.grid_rows {
			.expand {
				position: relative;
				display: inline-block;
				top: 0;
				left: 0;
			}
			.grid_rows_wrapper {
				border: none;
				.grid_row {
					min-height: 10px;
					padding: 5px 0;
					margin: 0 0 5px;
					background: #fff !important;
					border: 1px solid $borderColor;
					&:hover {
						border: 1px solid #c3c3c3;
					}
					header {
						padding: 0;					
					}				
					> .form_container {
						padding: 0 10px;
					}
				}
				.grid_row_details h3 {
					margin-top: 0;
					&:hover {
						border-color: #eee !important;
					}
				}
			}
		}
		.controls .glyphicon {
			vertical-align: text-top;
		}

	}
}

@media (max-width: 959px) { 
	.group_editor {
		display: block;
		> div {
			display: block;
			width: 100%;
			padding: 0;
			margin-bottom: 5px;
			.bs-pager, .counter {
				position: relative;
			}
		}
	}
}