/* Grid container */

$darkOrange: #f03c02;
$lightOrange: #f08302;


$Gray: #dadada;
$darkGray: #585858;
$textGray: #989898;
$textColor: #212121;
$borderColor: #e8e8e8;
$mainColor: #45ADA8; /*turquoise*/

/* Custom colors for components */
$Blue: #559ed6;
$Green: #59B390;
$Purple: #703D6F;
$Orange: #F27435;
$Black: #424141;



a.btn {
	text-decoration: none !important;
}

.clear_all {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* Custom UI*/

.custom-checkbox label {
	background: url(../images/checkbox.gif) no-repeat; 
}
.custom-radio label {
	background: url(../images/radiobutton.gif) no-repeat; 
}
.custom-checkbox,
.custom-radio {
	position: relative;
	margin-top: -4px;
	margin-bottom: 1px;
	width: 80%;
	display: inline-block; 
	vertical-align: top;
	input {
		position: absolute;
		right: 2px;
		top: 6px;
		margin: 0;
		z-index: 0;
		&.style-check {
			display: none; 
		}
	}
	label {
		display: inline-block;
		position: relative;
		z-index: 1;
		padding-right: 1em;
		line-height: 1.4;
		padding: 3px 0 1px 30px;
		margin: 0 0 10px;
		cursor: pointer;
		background-position: -10px -14px;
		word-break: break-all;
		&.hover {
			background-position: -10px -114px;
		}
		&.checkedFocus {
			background-position: -10px -314px; 
		}
		&.checked {
			background-position: -10px -214px; 
		}
		&.focus {
			outline: 1px dotted #ccc; 
		}
		&.loading:after {
			content: url(../images/preloader-small.gif);
			margin-left: 6px;
			margin-top: 3px;
			position: absolute; 
		}
	}
	&:hover {
		background-color: #fff;
	}
	aside {
		font-size: 11px;
		margin-left: 30px;
		color: #333;
		margin-top: -8px;
	}
}


.btn-default {
	background-color: #fff;
	border-color: #ccc;
	color: #333;
	&:hover, &:focus {
		color: #333;
		background-color: #ebebeb;
		border-color: #adadad;
	}
}

.bs-sortable {
	.bs-sortable-item {
		cursor: move;
	}
}

.grid_container {	
	font-size: 16px;
	.btn-theme {
		.caret {
			border-bottom-color: #fff;
			border-top-color: #fff;
		}
	}
	ul {
		padding: 0;
	}

	.grid_toolbar {	
		position: relative;
		min-height: 15px;
		.grid_toolbar_header {
			background: $mainColor;
			color: #fff;
			min-height: 40px;
			border: none;
			margin-bottom: 0;		
			.navbar-toggle {
				background: #585858;
				.icon-bar {
					background: #fff;
				}
				&:hover {
					background: #dadada;
				}
			}
			.navbar-form {
				margin-right: 0;
				margin-left: 0;
			}
			.grid_toolbar_controls {
				line-height: normal;
				float: right;
				a,
                .btn-group a {
					border: none;
					color: #fff;
					text-transform: capitalize;
					&:focus {
						background: $mainColor;
					}
					&:hover {
						background: darken($mainColor, 5%);
					}
					
					&.selected {
						background: darken($mainColor, 10%);
					}
				}
				.open a {
					background: darken($mainColor, 5%);
					&:hover, &:focus {
						background: darken($mainColor, 10%);
					}
					&.selected {
						background: darken($mainColor, 10%);
					}
				}
				.form-control  {
					border: none;					
					-webkit-box-shadow: none;
					box-shadow: none;
				}
				.form-group {
					position: relative;
				}
				.glyphicon.bs-remove {
					position: absolute;
					right: 0;
					top: 0;
					height: 34px;
					font-size: 14px;
					cursor: pointer;
					color: #ccc;
					padding: 10px;
				}					
			    
				.caret {						
					margin-left: 10px;
				}
		
				.dropdown-menu {
					background: $mainColor;
					border: none;
					a {
						color: #fff;
						padding-top: 10px;
						padding-bottom: 10px;
					}
					.glyphicon {
						font-size: 12px;
					}
				}
				.popover {
					color: #333;
				}
				
				.glyphicon {
					font-size: 14px;
					top: 2px;
				}
			}
			&:after {
					content: ".";
					display: block;
					height: 0;
					clear: both;
					visibility: hidden;
			}
		}																		
		

		.grid_toolbar_form {
			background: #f6f6f6;
			padding: 15px;
			color: #333;
			position: relative;

			h3 {
				font-size: 17px;
				padding: 9px 0;
				margin: 0 15px 8px;
				border-bottom: 1px solid #E0E0E0;
				.glyphicon {
					font-size: 13px;
				}
			}
			.grid_toolbar_submit {
				padding: 5px 15px 0;
				a {
					text-decoration: underline;
					color: #333;
					margin-left: 5px;
				}
			}
		}
	}
	
	/* Single grid */
	
	.grid_view {
		h2 {
			font-size: 17px;
			padding: 10px 0;
			border-bottom: 1px solid #eee;
			.badge {
				margin-right: 5px;
				background: $mainColor;
				float: left;
				margin-top: -1px;
			}
			.icon_filter {
				display: none;
			}
			.grid_bulk_controls {
				float: right;
				margin-top: -10px;
				
			}
			.btn .glyphicon {
				top: 2px;
			}
			&:after {
				content:"";
				display: block;
				clear: both;					
			}
		}
		.reset-grid {
			margin: -10px 5px 0 0;
			float: right;
		}
		.grid_rows {
			position: relative;
			.expand {
				position: absolute;
				left: 10px;
				top: 12px;
				background: url(../images/icn-down_arrow-small.png) center center no-repeat;
				width: 17px;
				height: 17px;				
				text-indent: -999em;
				text-decoration: none;
				background-color: #E6E6E6;
				vertical-align: text-bottom;
				outline: none !important;
				&.open {
					background: url(../images/icn-right_arrow-small.png) center center no-repeat;
				}
				&:hover {
					background-color: #e0e0e0;
				}
				+ span {
					cursor: pointer;
				}
			}
			title.open .expand {
				background: url(../images/icn-right_arrow-small.png) center center no-repeat;
			}
			.sort {
				position: absolute;
				left: 12px;
				top: 15px;
				text-decoration: none;
				cursor: move;
			}
		}
		.grid_row { /* bootstrap override */	
			margin: 0;
			padding: 10px 0 0;
			position: relative;
			a {
				text-decoration: underline;

				&.sort_asc {
					background: url(../images/icn-order_up.png) 100% 50% no-repeat;
					padding-right: 15px;
				}
				&.sort_desc {
					background: url(../images/icn-order_down.png) 100% 50% no-repeat;
					padding-right: 15px;
				}
				
			}
			&.title {
				padding-bottom: 10px;
			}
			.edit_col:hover {
				cursor: pointer;
				border-bottom: 1px dashed $mainColor;
				background: url(../images/pencil-small.png) right 50% no-repeat;
				padding-right: 20px;
			}
			header {
				> div {
					word-break: break-word;
				}
				&:after {
					@extend .clear_all;
				}
			}
			.row_check {
				position: absolute;
				right: 10px;
				top: 12px;				
			}
			.alert {
				margin: 10px 0 0;
			}
			&.selected header {
				color: $mainColor;
			}
			
		}
		.grid_rows_wrapper {
			border: 1px solid $borderColor;
			position: relative;
			&.no_results {
				border: none;
				.grid_row {
					background: transparent;
					min-height: 10px;
					padding: 0;
					.alert {
						margin: 10px -15px 0;
					}
				}
			}
			.grid_row {
				background: #f6f6f6;
				min-height: 44px;				
				&:nth-child(even) {
					background: #EEE;
				}
				&.open {
					background: #fff;
					border-bottom: 1px solid $borderColor;
					.expand {
						background: url(../images/icn-right_arrow-small.png) center center no-repeat;
					}
				}
				.grid_row_color {
					width: 4px;
					position: absolute;
					top: 0;
					left: 0;
					bottom: 0;
				}				
				
				.btn-group {
					vertical-align: top;
				}
				.dropdown-toggle {
					text-decoration: none;
					cursor: pointer;					
				}
				.dropdown-menu a {
					text-decoration: none;
					&:hover {
						background: $borderColor;
					}
				}
				.form-inline {
					margin: 0;
					.form-control {
						padding: 2px 4px;
						height: 24px;
					}
				}
			}
			.grid_row_details {
				margin: 0;
				padding: 10px 0; 
				clear: both;
				background: #fff;
				ul {
					list-style: none;
				}
				.col-lg-12, .col-md-12 {
					clear: both;
				} 
				.grid_details {
					position: relative;
					h3 {
						margin-bottom: 10px;
						border-bottom: 1px solid #EEE;
						position: relative;
						font-weight: normal;
						font-size: 14px;
						padding: 5px 0;
						a .glyphicon {
							position: absolute;
							bottom: 7px;
							right: 0;
							display: none;
						}
						&.editable  {
							cursor: pointer;
							a .glyphicon {
								display: inline-block;								
							}
							&:hover {
								border-color: #666; 							
							}
						}
						.controls {
							position: absolute;
							right: 0;
							bottom: 5px;
							font-size: 12px;
							min-width: 20px;
							a {
								vertical-align: top;
								text-decoration: none;
								color: #fff;
								margin-left: 5px;
							}
							.field-validation-error,
							.field-validation-success {
								margin-right: 20px;
								margin-left: 10px;
							}
						}
					}
					form {
						display: none;
					}
				}
				.flow {
					ul.flow_steps{
						display: block;
						span {
							color: #fff;
							background: $mainColor;
							border-radius: 30px;
							width: 21px;
							height: 20px;
							line-height: 20px;
							text-align: center;
							display: inline-block;
							margin-right: 10px;
							vertical-align: top;
							font-weight: bold;
							margin-top: -3px;
						}
						div {
							display: inline-block;
							width: 80%;
						}
						strong {
							display: block;
							margin-bottom: 10px;
						}
						p {
							margin-left: 36px;
							font-weight: bold;
							font-style: italic;
							margin-top: 5px;
							&.document_done {
								color: green;
							}
						}
						
						li.done {
							div {
								color: #999;
							}
							span {
								background: #eee;
								color: #999;
							}
							.task {
								text-decoration: line-through;
							}
						}
					}
					.flow_steps-editable {
						clear: both;
						margin: 10px 0 0 0;
						h4 {
							border-bottom: 1px solid #eee;
							margin: 7px 0;
							padding-bottom: 5px;
							color: $mainColor;
							font-size: 14px;
							font-weight: bold;
						}
						.btn_minus {
							margin-top: 22px;
						}						
					}
				}
				.definition-table {
					display: table;
					padding-left: 10px;
					dl {
						display: table-row;
						dd, dt {
							display: table-cell;
							width: auto;
							float: none !important;
							padding-bottom: 10px;
						}
						dd {
							margin-left: 0;	
							.definition-table {
								padding: 0;
								dl:last-child dt, dl:last-child dd {
									padding-bottom: 0;
								}
							}		
						}
						dt {							
							padding-right: 10px;
							font-weight: normal;
							color: #aaa;
						}
					}
					@media (max-width: 786px) {
						dl {
							display: block;
							margin-bottom: 10px;
							clear: left;
							dd, dt {
								display: inline-block;
								padding-bottom: 3px;
							}
							dt {
								float: left !important;
							}
						}
					}
				}
				.profile {
					img {
						max-width: 64px;
						border: 1px solid $borderColor;
					}
					&.large {
						border: 1px solid $borderColor;
						padding: 5px;
						margin-bottom: 15px;
						.users {
							margin-bottom: 0;
							li {
								border: none;
								padding: 0;								
							}
						}
					}
				}
				.users {
					li {
						padding: 4px 5px;
						border: 1px solid $borderColor;
						margin-bottom: 5px;
						.username {
							display: block;
							font-weight: bold; 
						}
						p {
							margin: 0; 
							em {
								color: #6AABDF; 
							}
						}
						&.disabled {
							opacity: 0.7;
							filter: alpha(opacity=70);
						}
					}
				}
				.check-list {
					label span {
						font-size: 11px;
						display: block;
					}
				}
			}
		}
		&.is_expandable, &.is_sortable {
			header {
				padding-left: 30px;
			}
		}
		&.is_checkable {
			header {
				padding-right: 25px;
			}
		}
		+ .grid_view {
			margin-top: 20px;
		}
	}	
}

/* Action buttons component */

.grid_bulk_controls {
	.btn {
		text-transform: none;
		margin-right: 5px;		
	}
	.check_all {
		position: relative;
		.btn {
			padding-left: 30px !important;			
			.caret {
				margin: -2px 0 0 2px;
			}
		}
		input[type="checkbox"] {
			position: absolute;
			top: 6px;
			left: 10px;
			z-index: 999;
		}
	}
}

.loading {
	&:after {
		content: "";
		display: block !important;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #fff url(../images/preloader.gif) center center no-repeat;
		z-index: 999;
		opacity: 0.9;
		filter: Alpha(opacity=90);
	}
}


/* Other color schemes */

/* BLUE*/

.grid_toolbar.blue  .grid_toolbar_header {
	background: $Blue;
	.grid_toolbar_controls {
		a,
		.btn-group a {
			&:focus {
				background: $Blue;
			}
			&:hover {
				background: darken($Blue, 5%);
				color: #fff !important;
			}
			&.selected {
				background: darken($Blue, 10%);
			}
		}
		.open a {
			background: darken($Blue, 5%);
			&:hover, &:focus {
				background: darken($Blue, 10%);
			}
			&.selected {
				background: darken($Blue, 10%);
			}
		}		
	}

}
.grid_view.blue {
	h2 .badge {
		background: $Blue;
	}
	.grid_row.selected header {
		color: $Blue;
	}
	.dropdown-menu {
		a:hover, a:focus {
			background: none !important;
			color: $Blue !important;
		}
	}
	.btn-theme {
		background: darken($Blue, 10%);		
		border-color: darken($Blue, 10%);
		&:hover, &:focus {
			background: $Blue !important;		
		}
	}
}

/* GREEN*/

.grid_toolbar.green  .grid_toolbar_header {
	background: $Green;
	.grid_toolbar_controls {
		a,
		.btn-group a {			
			&:focus {
				background: $Green;
			}
			&:hover {
				background: darken($Green, 5%);
				color: #fff !important;
			}
			&.selected {
				background: darken($Green, 10%);
			}
		}
		.open a {
			background: darken($Green, 5%);
			&:hover, &:focus {
				background: darken($Green, 10%);
			}
			&.selected {
				background: darken($Green, 10%);
			}
		}	
	}

}
.grid_view.green {
	h2 .badge {
		background: $Green;
	}
	.grid_row.selected header {
		color: $Green;
	}	
	.dropdown-menu {
		a:hover, a:focus {
			background: none !important;
			color: $Green !important;
		}
	}
	.btn-theme {
		background: darken($Green, 10%);
		border-color: darken($Green, 10%);
		&:hover, &:focus {
			background: $Green !important;
		}
	}
}


/* PURPLE*/

.grid_toolbar.purple  .grid_toolbar_header {
	background: $Purple;
	.grid_toolbar_controls {
		a,
		.btn-group a {			
			&:focus {
				background: $Purple;
			}
			&:hover {
				background: darken($Purple, 5%);
				color: #fff !important;
			}
			&.selected {
				background: darken($Purple, 10%);
			}
		}
		.open a {
			background: darken($Purple, 5%);
			&:hover, &:focus {
				background: darken($Purple, 10%);
			}
			&.selected {
				background: darken($Purple, 10%);
			}
		}	
	}
	

}
.grid_view.purple {
	h2 .badge {
		background: $Purple;
	}
	.grid_row.selected header {
		color: $Purple;
	}
	.dropdown-menu {
		a:hover, a:focus {
			background: none !important;
			color: $Purple !important;
		}
	}
	.btn-theme {
		background: darken($Purple, 10%);
		border-color: darken($Purple, 10%);
		&:hover, &:focus {
			background: $Purple !important;
		}
	}
}

/* ORANGE*/

.grid_toolbar.orange  .grid_toolbar_header {
	background: $Orange;
	.grid_toolbar_controls {
		a,
		.btn-group a {			
			&:focus {
				background: $Orange;
			}
			&:hover {
				background: darken($Orange, 5%);
				color: #fff !important;
			}
			&.selected {
				background: darken($Orange, 10%);
			}
		}
		.open a {
			background: darken($Orange, 5%);
			&:hover, &:focus {
				background: darken($Orange, 10%);
			}
			&.selected {
				background: darken($Orange, 10%);
			}
		}	
	}

}
.grid_view.orange {
	h2 .badge {
		background: $Orange;
	}
	.grid_row.selected header {
		color: $Orange;
	}
	.dropdown-menu {
		a:hover, a:focus {
			background: none !important;
			color: $Orange !important;
		}
	}
	.btn-theme {
		background: darken($Orange, 10%);
		border-color: darken($Orange, 10%);
		&:hover, &:focus {
			background: $Orange !important;	
		}
	}
}


/* almost BLACK*/

.grid_toolbar.black   .grid_toolbar_header {
	background: $Black;
	.grid_toolbar_controls {
		a,
		.btn-group a {
			&:focus {
				background: $Black;
			}
			&:hover {
				background: darken($Black, 5%);
				color: #fff !important;
			}
			&.selected {
				background: darken($Black, 10%);
			}
		}
		.open a {
			background: darken($Black, 5%);
			&:hover, &:focus {
				background: darken($Black, 10%);
			}
			&.selected {
				background: darken($Black, 10%);
			}
		}	
	}
	
}
.grid_view.black  {
	h2 .badge {
		background: $Black;
	}
	.grid_row.selected header {
		color: #000;
	}	
	.dropdown-menu {
		a:hover, a:focus {
			background: none !important;
			color: $Black !important;
		}
	}
	.btn-theme {
		background: darken($Black, 10%);
		border-color: darken($Black, 10%);
		&:hover, &:focus {
			background: $Black !important;		
		}
	}
}


@media (max-width: 756px) {

	.grid_container .grid_toolbar .grid_toolbar_header {
		.grid_toolbar_controls {
			float: none !important;
			margin-top: 0;
			.dropdown-menu {
				background: #fff;
			}
		}

	}
	.grid_container .grid_view .grid_rows_wrapper .grid_row_details dl dt {
		text-align: left;
	}
	.results_per_page_container, .results_number {
		display: none;
	}
	
}

@media (max-width: 767px) {
	.grid_toolbar_controls .visible-xs {
		display: inline !important;
	}
	
}

@media (max-width: 500px) {
	.grid_container .grid_view {
		h2 .grid_bulk_controls {
			clear: both;
			margin-top: 10px;
		}
		.reset-grid {
			margin-top: 10px;
		}
	}
}
@media (max-width: 959px) {
	.grid_container {
		.grid_toolbar .grid_toolbar_header .grid_toolbar_controls {
			.btn {
				text-align: left;
			}
			.input-group {
				width: 100%;
				padding: 6px 3px;
			}
		}
	}
	.grid_row {
		header div:first-child{
			margin-bottom: 10px;
		}
	}
}

