/* Custom colors */

$Gray: gray;
$LightGray: #ddd;
$White: white;


.control-panel {
	
	box-sizing: border-box; 

	/* #region Panel heading */

	.panel-heading {
		
		.control-panel-title {
			
			a:hover {
				.panel-title-text {
					border-bottom: solid 1px;
				}
				color: $White;
			}

			.panel-title-text {
				&:before {
					content: "\00a0";
				}
			}		

			.glyphicon {
				font-size: 15px;
				vertical-align: middle;
			}

			.control-panel-action {
				color: inherit;
				text-decoration: none;
			}

			.control-panel-action:not(:last-child) {
				margin-right: 10px;
			}
		}
	}

	/* #endregion */

	/* #region Panel body */

	.panel-body {

		min-height: 220px;

		ul {
			list-style-type: none;
		}

		.control-panel-tabs {
			
			.control-panel-tab {
				margin-left: -40px;
				margin-top: 20px;
			}
		}

		.control-panel-nav-tabs {
			
			li {
				
				&:hover {
					background: $White;
				}

				&.active:hover {
					background: $LightGray;
				}

				a {
					font-size: 18px;
				}
			}

			.control-panel-nav-controls-container {
				background: white;

				input.tab-search {
					padding-left: 17px;
					
					&::-webkit-input-placeholder {
						color: $Gray;

						&:before {
							content: "\e003";
							font-family: 'Glyphicons Halflings';
							font-size: 13px;
							font-weight: 500;
							color: $Gray;     
						}
					}

				}

			}

		}

		input.tab-search {
			padding-left: 17px;
					
			&::-webkit-input-placeholder {
					color: $Gray;

					&:before {
						content: "\e003";
						font-family: 'Glyphicons Halflings';
						font-size: 13px;
						font-weight: 500;
						color: $Gray;     
					}
				}

			}
	}

	/* #endregion */
}