/*turquoise*/
/* Custom colors for components */
.input-group {
  width: 100%; }

label {
  font-size: 13px;
  font-family: arial, verdana, sans-serif;
  font-weight: normal; }

textarea {
  resize: vertical; }

.required:after {
  content: "*";
  color: #b94a48; }

.radio, .checkbox {
  padding-left: 15px; }

.glyphicon {
  font-size: 12px;
  top: 0; }

mark, .mark {
  background-color: #CECECE; }

.btn:focus, .btn:active:focus {
  outline: none; }

/* Errors */
.field-validation-valid {
  display: none; }

.input-validation-error .select2-choice,
.has-error .select2-choices {
  border-color: #b94a48 !important; }

.has-error .glyphicon-info-sign {
  display: none; }

.has-error .select2-offscreen,
.has-error .select2-offscreen:focus {
  display: none; }
.has-error .select2-search-field {
  width: 100%; }
  .has-error .select2-search-field input {
    width: 100% !important; }

.form_container {
  position: relative;
  clear: both; }
  .form_container.loading:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff url(../images/preloader.gif) center center no-repeat; }

/* Horizontal form*/
.row > .form_container_horizontal {
  margin: 0 15px; }

/* Panel group horizontal form */
.panel-group .panel-title .caret {
  margin: -2px 7px 0 3px; }
.panel-group .panel-title .loading-spinner {
  background: url(../images/preloader-small.gif) 0 0 no-repeat;
  width: 16px;
  height: 16px;
  margin: 0 7px 0 -5px;
  display: inline-block;
  vertical-align: bottom; }
.panel-group .panel-body {
  position: relative; }
  .panel-group .panel-body .control-label {
    color: #aaa; }
@media (max-width: 756px) {
  .panel-group .pull-right {
    float: right !important; } }

.panel-body .form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0; }

/* Media object */
.media {
  overflow: hidden; }
  .media .media-body {
    overflow: hidden;
    display: block;
    zoom: 1;
    width: auto; }

/* Avatar view */
.avatar_view {
  border: 1px solid #dddddd;
  display: inline-block;
  padding: 5px; }
  .avatar_view .avatar_controls {
    margin-top: 5px; }
    .avatar_view .avatar_controls .btn {
      padding: 2px 8px; }
    .avatar_view .avatar_controls .file-upload {
      position: relative; }
    .avatar_view .avatar_controls input[type="file"] {
      filter: alpha(opacity=0);
      opacity: 0;
      position: absolute;
      right: 0;
      top: 0;
      font-size: 50px;
      border: 0;
      height: 100%;
      width: 100%;
      overflow: hidden; }

/* Custom UI*/
.custom_select {
  width: 100% !important;
  font-family: Calibri, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px; }
  .custom_select .select2-choice {
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    border-radius: 0 !important;
    background-image: none;
    border: 1px solid #ccc; }
    .custom_select .select2-choice span {
      white-space: pre-wrap; }
    .custom_select .select2-choice div {
      border-radius: 0 !important;
      width: 24px; }
      .custom_select .select2-choice div b {
        background-position: 3px 5px; }
  .custom_select a {
    text-decoration: none !important;
    word-wrap: break-word; }
  .custom_select.form-control {
    padding: 0;
    border: none; }
    .custom_select.form-control + select.form-control {
      display: none; }
  .custom_select.select2-container-active .select2-choice,
  .custom_select.select2-container-active .select2-choices {
    border: 1px solid #a8a8a8;
    outline: none;
    background: #fff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }

.select2-drop {
  font-size: 14px;
  border-top: 0;
  border-radius: 0 !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important; }
  .select2-drop.select2-drop-above {
    border-bottom: 0; }

.select2-results {
  padding: 0;
  margin-right: 0; }
  .select2-results .select2-highlighted {
    background: #dadada;
    color: #333; }
  .select2-results .select2-result-label, .select2-results .select2-save, .select2-results .select2-no-results, .select2-results .select2-searching, .select2-results .select2-selection-limit {
    padding: 5px 8px; }

.select2-display-none .select2-results {
  margin: 0; }

.select2-offscreen {
  position: absolute !important; }

.custom_select-multi.form-control {
  padding: 0;
  border: none;
  height: auto; }
.custom_select-multi .select2-choices {
  min-height: 34px;
  background-image: none;
  border: 1px solid #ccc; }
  .custom_select-multi .select2-choices .select2-search-field input {
    font-family: Calibri, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 3px;
    padding: 4px 8px; }
  .custom_select-multi .select2-choices .select2-default {
    text-overflow: ellipsis; }
  .custom_select-multi .select2-choices .select2-search-choice {
    background: #fff;
    background-image: none;
    border-radius: 0;
    padding: 5px 5px 5px 18px;
    margin: 4px 0 0 5px; }
    .custom_select-multi .select2-choices .select2-search-choice .select2-search-choice-close {
      top: 5px; }
    .custom_select-multi .select2-choices .select2-search-choice.select2-locked {
      padding: 5px !important; }
.custom_select-multi.select2-container-active .select2-choice,
.custom_select-multi.select2-container-active .select2-choices {
  border: 1px solid #a8a8a8;
  outline: none;
  background: #fff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

.checkbox_replace .option {
  height: 32px;
  text-decoration: none !important;
  position: relative;
  padding: 0 4px;
  border-left: 1px solid #ccc;
  background: #FFF;
  text-decoration: none;
  cursor: pointer;
  display: table-cell;
  width: 1%;
  vertical-align: middle;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }
  .checkbox_replace .option:first-child {
    border: none; }
  .checkbox_replace .option:hover {
    background: #f7f7f7 !important; }
  .checkbox_replace .option.selected {
    background: #eee; }
.checkbox_replace:focus {
  outline: none; }
.checkbox_replace.form-control {
  padding: 0; }

/* Autocomplete */
.twitter-typeahead {
  width: 100%;
  font-size: 14px; }
  .twitter-typeahead .tt-hint {
    padding: 11px;
    height: 34px;
    width: 100%; }
  .twitter-typeahead .tt-dropdown-menu {
    width: 100%;
    margin-top: -1px;
    padding: 4px 0;
    background-color: #FFF;
    border: 1px solid #45ADA8;
    border-top: none; }
  .twitter-typeahead .tt-suggestion {
    padding: 8px; }
    .twitter-typeahead .tt-suggestion p {
      margin: 0; }
    .twitter-typeahead .tt-suggestion.tt-is-under-cursor {
      background: #dadada; }

/* File upload */
.input-file-upload {
  display: table;
  width: 100%; }
  .input-file-upload .form-control {
    position: relative; }
    .input-file-upload .form-control .btn {
      position: absolute;
      right: -1px;
      top: -1px; }
    .input-file-upload .form-control:after {
      display: inline-block;
      content: attr(data-title);
      margin-left: 5px; }
  .input-file-upload input[type=file] {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    filter: Alpha(opacity=0);
    z-index: 9;
    top: 0;
    left: 0; }

/* Custom UI END*/
.form-control:focus {
  box-shadow: none;
  border-color: #A8A8A8; }
.form-control + .input-group-addon {
  border-left: none; }

.btn-group-justified > .btn, .btn-group-justified > .btn-group {
  width: 100%; }
.btn-group-justified .dropdown-toggle {
  text-align: left;
  padding-right: 15px; }
  .btn-group-justified .dropdown-toggle .caret {
    position: absolute;
    right: 5px;
    top: 14px; }
.btn-group-justified .dropdown-menu {
  width: 100%; }
.btn-group-justified .input-validation-error {
  border-color: #b94a48 !important; }

.btn-theme {
  color: #fff !important;
  background-color: #368985;
  border-color: #368985; }
  .btn-theme:hover, .btn-theme:focus {
    background: #45ADA8 !important;
    border-color: #368985;
    color: #fff !important;
    text-decoration: none; }

.upload-file {
  /* File upload button */
  position: relative;
  overflow: hidden;
  padding: 5px 12px 3px; }
  .upload-file input[type="file"] {
    filter: alpha(opacity=0);
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 50px;
    outline: none; }

.reset-container {
  position: relative; }
  .reset-container .delete {
    position: absolute;
    right: 10px;
    background: url(../images/chosen-sprite.png) right 0 no-repeat;
    width: 8px;
    height: 8px;
    border: 0;
    top: 16px;
    text-indent: -9999px;
    display: none; }

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  margin: 2px 10px 0 -5px;
  position: relative;
  float: left; }

.form-group.checkbox, .form-group.radio {
  display: table; }
  .form-group.checkbox label, .form-group.radio label {
    display: table-cell;
    border: 1px solid transparent;
    padding-left: 15px;
    padding-top: 8px;
    height: 34px; }
  .form-group.checkbox.has-error label, .form-group.radio.has-error label {
    border: 1px solid #b94a48; }

/* Other color schemes */
/* BLUE*/
.form_container.blue .btn-theme {
  background: #3086c8;
  border-color: #3086c8; }
  .form_container.blue .btn-theme:hover, .form_container.blue .btn-theme:focus {
    background: #559ed6 !important; }

/* GREEN*/
.form_container.green .btn-theme {
  background: #449575;
  border-color: #449575; }
  .form_container.green .btn-theme:hover, .form_container.green .btn-theme:focus {
    background: #59B390 !important; }

/* PURPLE*/
.form_container.purple .btn-theme {
  background: #4f2b4e;
  border-color: #4f2b4e; }
  .form_container.purple .btn-theme:hover, .form_container.purple .btn-theme:focus {
    background: #703D6F !important; }

/* ORANGE*/
.form_container.orange .btn-theme {
  background: #e5560f;
  border-color: #e5560f; }
  .form_container.orange .btn-theme:hover, .form_container.orange .btn-theme:focus {
    background: #F27435 !important; }

/* almost BLACK*/
.form_container.black .btn-theme {
  background: #282828;
  border-color: #282828; }
  .form_container.black .btn-theme:hover, .form_container.black .btn-theme:focus {
    background: #424141 !important; }

@media (max-width: 756px) {
  .col-12 {
    padding: 0; }

  .panel-body dl dt {
    text-align: left; } }
@media (min-width: 768px) {
  /* fixes for 2 cols */
  .form-group.checkbox,
  .form-group.radio {
    padding-top: 28px;
    margin: 0 0 15px; }

  .col-lg-12,
  .col-sm-12 {
    /* Normal distance for a single column layout */ }
    .col-lg-12.checkbox, .col-lg-12.radio,
    .col-sm-12.checkbox,
    .col-sm-12.radio {
      padding-top: 0; } }
