/* Grid container */
a.btn {
  text-decoration: none !important; }

.clear_all, .grid_container .grid_view .grid_row header:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

/* Custom UI*/
.custom-checkbox label {
  background: url(images/icons/checkbox.gif) no-repeat; }

.custom-radio label {
  background: url(images/icons/radiobutton.gif) no-repeat; }

.custom-checkbox,
.custom-radio {
  position: relative;
  margin-top: -4px;
  margin-bottom: 1px;
  width: 80%;
  display: inline-block;
  vertical-align: top; }
  .custom-checkbox input,
  .custom-radio input {
    position: absolute;
    right: 2px;
    top: 6px;
    margin: 0;
    z-index: 0; }
    .custom-checkbox input.style-check,
    .custom-radio input.style-check {
      display: none; }
  .custom-checkbox label,
  .custom-radio label {
    display: inline-block;
    position: relative;
    z-index: 1;
    padding-right: 1em;
    line-height: 1.4;
    padding: 3px 0 1px 30px;
    margin: 0 0 10px;
    cursor: pointer;
    background-position: -10px -14px;
    word-break: break-all; }
    .custom-checkbox label.hover,
    .custom-radio label.hover {
      background-position: -10px -114px; }
    .custom-checkbox label.checkedFocus,
    .custom-radio label.checkedFocus {
      background-position: -10px -314px; }
    .custom-checkbox label.checked,
    .custom-radio label.checked {
      background-position: -10px -214px; }
    .custom-checkbox label.focus,
    .custom-radio label.focus {
      outline: 1px dotted #ccc; }
    .custom-checkbox label.loading:after,
    .custom-radio label.loading:after {
      content: url(images/ui-anim_basic_16x16.gif);
      margin-left: 6px;
      margin-top: 3px;
      position: absolute; }
  .custom-checkbox:hover,
  .custom-radio:hover {
    background-color: #fff; }
  .custom-checkbox aside,
  .custom-radio aside {
    font-size: 11px;
    margin-left: 30px;
    color: #333;
    margin-top: -8px; }

.ui-sortable .grippy {
  background: url(images/icons/grippy.png) 0 0 no-repeat;
  margin-top: 6px;
  float: left;
  display: inline-block;
  margin-left: 3px;
  cursor: move;
  width: 6px;
  height: 14px; }

.grid_container {
  font-size: 16px;
  /* Single grid */ }
  .grid_container label {
    font-size: 13px;
    font-family: arial, verdana, sans-serif; }
  .grid_container ul {
    padding: 0; }
  .grid_container .btn-default {
    color: #333333;
    background-color: #ffffff;
    border: 1px solid #cccccc; }
    .grid_container .btn-default:hover, .grid_container .btn-default:focus {
      background: #ebebeb !important;
      color: #333333;
      text-decoration: none; }
  .grid_container .grid_toolbar {
    position: relative;
    min-height: 15px; }
    .grid_container .grid_toolbar .grid_toolbar_header {
      background: #559ed6;
      color: #fff;
      overflow: hidden; }
      .grid_container .grid_toolbar .grid_toolbar_header h1 {
        font-size: 15px;
        text-transform: uppercase;
        margin: 0;
        padding: 11px 10px 10px;
        border: none;
        display: inline-block; }
      .grid_container .grid_toolbar .grid_toolbar_header .grid_toolbar_controls {
        line-height: normal;
        float: right; }
        .grid_container .grid_toolbar .grid_toolbar_header .grid_toolbar_controls a {
          padding: 10px 15px 9px;
          float: left;
          border-left: 1px solid #4092d1;
          color: #fff; }
          .grid_container .grid_toolbar .grid_toolbar_header .grid_toolbar_controls a:hover {
            background-color: #4092d1 !important;
            text-decoration: none;
            color: #fff !important; }
        .grid_container .grid_toolbar .grid_toolbar_header .grid_toolbar_controls .selected {
          background-color: #f6f6f6;
          color: #333; }
          .grid_container .grid_toolbar .grid_toolbar_header .grid_toolbar_controls .selected:hover {
            background-color: #f6f6f6 !important;
            color: #333 !important; }
        .grid_container .grid_toolbar .grid_toolbar_header .grid_toolbar_controls .input-group {
          float: left;
          width: 165px;
          color: #333;
          padding: 6px 3px 4px 15px;
          border-left: 1px solid #4092d1; }
          .grid_container .grid_toolbar .grid_toolbar_header .grid_toolbar_controls .input-group input {
            border: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            height: 28px;
            line-height: 8px\9;
            border-radius: 20px; }
          .grid_container .grid_toolbar .grid_toolbar_header .grid_toolbar_controls .input-group + .btn_advanced_search {
            border: none; }
        .grid_container .grid_toolbar .grid_toolbar_header .grid_toolbar_controls .glyphicon {
          font-size: 14px; }
        .grid_container .grid_toolbar .grid_toolbar_header .grid_toolbar_controls:after {
          content: "";
          display: block;
          clear: both; }
    .grid_container .grid_toolbar .grid_toolbar_form {
      background: #f6f6f6;
      padding: 15px 0;
      color: #333;
      position: relative; }
      .grid_container .grid_toolbar .grid_toolbar_form .row {
        margin: 0; }
        .grid_container .grid_toolbar .grid_toolbar_form .row label {
          font-weight: normal; }
      .grid_container .grid_toolbar .grid_toolbar_form h3 {
        font-size: 17px;
        padding: 9px 0;
        margin: 0 15px 8px;
        border-bottom: 1px solid #E0E0E0; }
        .grid_container .grid_toolbar .grid_toolbar_form h3 .glyphicon {
          font-size: 13px; }
      .grid_container .grid_toolbar .grid_toolbar_form .grids_header_submit {
        padding: 5px 15px 0; }
        .grid_container .grid_toolbar .grid_toolbar_form .grids_header_submit a {
          text-decoration: underline;
          color: #333;
          margin-left: 5px; }
  .grid_container .grid_view h2 {
    font-size: 17px;
    padding: 10px;
    border-bottom: 1px solid #eee; }
    .grid_container .grid_view h2 .badge {
      margin-right: 5px;
      background: #559ed6;
      float: left;
      margin-top: -1px; }
    .grid_container .grid_view h2 .icon_filter {
      display: none; }
    .grid_container .grid_view h2 .grid_bulk_controls {
      float: right;
      margin-top: -10px; }
  .grid_container .grid_view .grid_rows {
    position: relative; }
  .grid_container .grid_view .grid_row {
    /* bootstrap override */
    margin: 0;
    padding: 10px 0;
    position: relative; }
    .grid_container .grid_view .grid_row a {
      text-decoration: underline;
      color: #333; }
      .grid_container .grid_view .grid_row a.sort_asc {
        background: url(images/icons/icn-order_up.png) 100% 50% no-repeat;
        padding-right: 15px; }
      .grid_container .grid_view .grid_row a.sort_desc {
        background: url(images/icons/icn-order_down.png) 100% 50% no-repeat;
        padding-right: 15px; }
    .grid_container .grid_view .grid_row .edit_col:hover {
      cursor: pointer;
      border-bottom: 1px dashed #559ed6;
      background: url(images/icons/pencil-small.png) right 50% no-repeat;
      padding-right: 20px; }
    .grid_container .grid_view .grid_row header input[type="checkbox"] {
      float: right; }
    .grid_container .grid_view .grid_row .alert {
      margin: 10px 0 0; }
  .grid_container .grid_view .grid_rows_wrapper {
    border: 1px solid #e8e8e8;
    position: relative; }
    .grid_container .grid_view .grid_rows_wrapper.no_results {
      border: none; }
      .grid_container .grid_view .grid_rows_wrapper.no_results .grid_row {
        background: transparent;
        min-height: 10px;
        padding: 0; }
        .grid_container .grid_view .grid_rows_wrapper.no_results .grid_row .alert {
          margin: 10px -15px 0; }
    .grid_container .grid_view .grid_rows_wrapper .grid_row {
      background: #f6f6f6;
      min-height: 44px; }
      .grid_container .grid_view .grid_rows_wrapper .grid_row:nth-child(even) {
        background: #EEE; }
      .grid_container .grid_view .grid_rows_wrapper .grid_row:hover {
        background: #fff; }
      .grid_container .grid_view .grid_rows_wrapper .grid_row.open {
        background: #fff;
        border-bottom: 1px solid #e8e8e8; }
        .grid_container .grid_view .grid_rows_wrapper .grid_row.open .expand {
          background: url(images/icons/icn-right_arrow-small.png) center center no-repeat; }
      .grid_container .grid_view .grid_rows_wrapper .grid_row .grid_row_color {
        width: 4px;
        position: absolute;
        top: -1px;
        left: 0;
        bottom: -1px; }
      .grid_container .grid_view .grid_rows_wrapper .grid_row .expand {
        display: inline-block;
        background: url(images/icons/icn-down_arrow-small.png) center center no-repeat;
        width: 17px;
        height: 17px;
        margin-right: 5px;
        text-indent: -999em;
        text-decoration: none;
        background-color: #E6E6E6; }
        .grid_container .grid_view .grid_rows_wrapper .grid_row .expand:hover {
          background-color: #e0e0e0; }
        .grid_container .grid_view .grid_rows_wrapper .grid_row .expand + span {
          cursor: pointer; }
      .grid_container .grid_view .grid_rows_wrapper .grid_row .btn-group {
        vertical-align: top; }
      .grid_container .grid_view .grid_rows_wrapper .grid_row .dropdown-toggle {
        text-decoration: none;
        cursor: pointer; }
      .grid_container .grid_view .grid_rows_wrapper .grid_row .dropdown-menu a {
        text-decoration: none; }
        .grid_container .grid_view .grid_rows_wrapper .grid_row .dropdown-menu a:hover {
          background: #e8e8e8; }
      .grid_container .grid_view .grid_rows_wrapper .grid_row .form-inline {
        margin: 0; }
        .grid_container .grid_view .grid_rows_wrapper .grid_row .form-inline .form-control {
          padding: 2px 4px;
          height: 24px; }
    .grid_container .grid_view .grid_rows_wrapper .grid_row_details {
      margin: 0;
      padding-top: 20px;
      clear: both; }
      .grid_container .grid_view .grid_rows_wrapper .grid_row_details ul {
        list-style: none; }
      .grid_container .grid_view .grid_rows_wrapper .grid_row_details .col-lg-12, .grid_container .grid_view .grid_rows_wrapper .grid_row_details .col-md-12 {
        clear: both; }
      .grid_container .grid_view .grid_rows_wrapper .grid_row_details .grid_details {
        position: relative; }
        .grid_container .grid_view .grid_rows_wrapper .grid_row_details .grid_details h3 {
          margin-bottom: 10px;
          border-bottom: 1px solid #EEE;
          position: relative;
          font-weight: normal;
          font-size: 14px;
          padding: 5px 0; }
          .grid_container .grid_view .grid_rows_wrapper .grid_row_details .grid_details h3 .glyphicon-pencil {
            position: absolute;
            bottom: 7px;
            right: 0;
            display: none; }
          .grid_container .grid_view .grid_rows_wrapper .grid_row_details .grid_details h3.editable {
            cursor: pointer; }
            .grid_container .grid_view .grid_rows_wrapper .grid_row_details .grid_details h3.editable:hover .glyphicon-pencil {
              display: inline-block; }
          .grid_container .grid_view .grid_rows_wrapper .grid_row_details .grid_details h3:hover {
            border-color: #58b4fe; }
          .grid_container .grid_view .grid_rows_wrapper .grid_row_details .grid_details h3.readonly:hover {
            border-bottom: 1px solid #eee; }
          .grid_container .grid_view .grid_rows_wrapper .grid_row_details .grid_details h3 .controls {
            position: absolute;
            top: 3px;
            right: 0;
            font-size: 12px;
            min-width: 20px; }
            .grid_container .grid_view .grid_rows_wrapper .grid_row_details .grid_details h3 .controls a {
              height: 17px;
              line-height: 17px;
              vertical-align: top;
              text-decoration: none; }
            .grid_container .grid_view .grid_rows_wrapper .grid_row_details .grid_details h3 .controls .field-validation-error,
            .grid_container .grid_view .grid_rows_wrapper .grid_row_details .grid_details h3 .controls .field-validation-success {
              margin-right: 20px;
              margin-left: 10px; }
        .grid_container .grid_view .grid_rows_wrapper .grid_row_details .grid_details form {
          display: none; }
      .grid_container .grid_view .grid_rows_wrapper .grid_row_details .flow ul.flow_steps {
        display: block; }
        .grid_container .grid_view .grid_rows_wrapper .grid_row_details .flow ul.flow_steps span {
          color: #fff;
          background: #245b86;
          border-radius: 30px;
          width: 21px;
          height: 20px;
          line-height: 20px;
          text-align: center;
          display: inline-block;
          margin-right: 10px;
          vertical-align: top;
          font-weight: bold;
          margin-top: -3px; }
        .grid_container .grid_view .grid_rows_wrapper .grid_row_details .flow ul.flow_steps div {
          display: inline-block;
          width: 80%; }
        .grid_container .grid_view .grid_rows_wrapper .grid_row_details .flow ul.flow_steps strong {
          display: block;
          margin-bottom: 10px; }
        .grid_container .grid_view .grid_rows_wrapper .grid_row_details .flow ul.flow_steps p {
          margin-left: 36px;
          font-weight: bold;
          font-style: italic;
          margin-top: 5px; }
          .grid_container .grid_view .grid_rows_wrapper .grid_row_details .flow ul.flow_steps p.document_done {
            color: green; }
        .grid_container .grid_view .grid_rows_wrapper .grid_row_details .flow ul.flow_steps li.done div {
          color: #999; }
        .grid_container .grid_view .grid_rows_wrapper .grid_row_details .flow ul.flow_steps li.done span {
          background: #eee;
          color: #999; }
        .grid_container .grid_view .grid_rows_wrapper .grid_row_details .flow ul.flow_steps li.done .task {
          text-decoration: line-through; }
      .grid_container .grid_view .grid_rows_wrapper .grid_row_details .flow .flow_steps-editable {
        clear: both;
        margin: 10px 0 0 0; }
        .grid_container .grid_view .grid_rows_wrapper .grid_row_details .flow .flow_steps-editable h4 {
          border-bottom: 1px solid #eee;
          margin: 7px 0;
          padding-bottom: 5px;
          color: #245b86;
          font-size: 14px;
          font-weight: bold; }
        .grid_container .grid_view .grid_rows_wrapper .grid_row_details .flow .flow_steps-editable .btn_minus {
          margin-top: 22px; }
      .grid_container .grid_view .grid_rows_wrapper .grid_row_details dl dt {
        float: left;
        width: 30%;
        overflow: hidden;
        clear: left;
        text-align: right;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: normal;
        color: #aaa; }
      .grid_container .grid_view .grid_rows_wrapper .grid_row_details dl dd {
        margin-left: 30%;
        word-wrap: break-word; }
      .grid_container .grid_view .grid_rows_wrapper .grid_row_details dl.to-left dt {
        width: auto;
        text-align: left; }
      .grid_container .grid_view .grid_rows_wrapper .grid_row_details dl.to-left dd {
        margin-left: 5px;
        float: left; }
      .grid_container .grid_view .grid_rows_wrapper .grid_row_details .profile img {
        max-width: 64px;
        border: 1px solid #e8e8e8; }
      .grid_container .grid_view .grid_rows_wrapper .grid_row_details .profile dl {
        margin-top: 0; }
      .grid_container .grid_view .grid_rows_wrapper .grid_row_details .profile.large {
        border: 1px solid #e8e8e8;
        padding: 5px;
        margin-bottom: 15px; }
        .grid_container .grid_view .grid_rows_wrapper .grid_row_details .profile.large .users {
          margin-bottom: 0; }
          .grid_container .grid_view .grid_rows_wrapper .grid_row_details .profile.large .users li {
            border: none;
            padding: 0; }
      .grid_container .grid_view .grid_rows_wrapper .grid_row_details .users li {
        padding: 4px 5px;
        border: 1px solid #e8e8e8; }
        .grid_container .grid_view .grid_rows_wrapper .grid_row_details .users li .username {
          display: block;
          font-weight: bold; }
        .grid_container .grid_view .grid_rows_wrapper .grid_row_details .users li p {
          margin: 0; }
          .grid_container .grid_view .grid_rows_wrapper .grid_row_details .users li p em {
            color: #6AABDF; }
      .grid_container .grid_view .grid_rows_wrapper .grid_row_details .check-list label span {
        font-size: 11px;
        display: block; }
  .grid_container .grid_view .grid_pager {
    margin: 0;
    font-size: 13px;
    font-family: Arial, Verdana, sans-serif; }
    .grid_container .grid_view .grid_pager > div {
      padding: 0;
      overflow: hidden;
      margin: 18px 0; }
    .grid_container .grid_view .grid_pager .pagination {
      margin: 0;
      float: left; }
    .grid_container .grid_view .grid_pager .results_number {
      float: left;
      line-height: 29px;
      margin-left: 10px; }
    .grid_container .grid_view .grid_pager .results_per_page {
      overflow: visible; }
      .grid_container .grid_view .grid_pager .results_per_page .btn {
        padding: 3px 9px 3px 10px; }
      .grid_container .grid_view .grid_pager .results_per_page .results_per_page_container {
        margin-right: 5px; }
      .grid_container .grid_view .grid_pager .results_per_page .dropdown {
        float: left; }
        .grid_container .grid_view .grid_pager .results_per_page .dropdown .caret {
          margin-left: 5px; }
      .grid_container .grid_view .grid_pager .results_per_page .btn-go_up {
        float: left;
        margin-left: 10px; }

/* Action buttons component */
.grid_bulk_controls .check_all {
  position: relative; }
  .grid_bulk_controls .check_all .btn {
    padding-left: 30px; }
    .grid_bulk_controls .check_all .btn .caret {
      margin: -2px 0 0 2px; }
  .grid_bulk_controls .check_all input[type="checkbox"] {
    position: absolute;
    top: 6px;
    left: 10px;
    z-index: 999; }

.loading:after {
  content: "";
  display: block !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white url(Images/preloader.gif) center center no-repeat;
  z-index: 999;
  opacity: 0.9;
  filter: Alpha(opacity=90); }

@media (max-width: 756px) {
  .grid_toolbar_form .row {
    padding: 0 15px; }

  .grid_toolbar_header h1 {
    display: block !important;
    border-bottom: 1px solid #4092d1 !important; }

  .results_per_page_container {
    display: none; } }
@media (max-width: 959px) {
  .grid_row header div:first-child {
    margin-bottom: 10px; } }
