@using BForms.Docs.Helpers
<h3 id="javascript-components">JavaScript Components</h3>

<p>        
    BForms relies on the following JS frameworks and components:
</p>

<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>JS</th>
            <th>Website</th>
            <th>Source code</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Bootstrap v3</td>
            <td><a href="http://getbootstrap.com/">getbootstrap.com</a></td>
            <td><a href="https://github.com/twbs/bootstrap">GitHub project</a></td>
        </tr>
        <tr>
            <td>2</td>
            <td>jQuery</td>
            <td><a href="http://jquery.com/">jquery.com</a></td>
            <td><a href="https://github.com/jquery/jquery">GitHub project</a></td>
        </tr>
        <tr>
            <td>3</td>
            <td>jQuery UI <small>core only</small></td>
            <td><a href="http://jqueryui.com/">jqueryui.com</a></td>
            <td><a href="https://github.com/jquery/jquery-ui">GitHub project</a></td>
        </tr>
        <tr>
            <td>4</td>
            <td>Select2 <small>customized for BForms</small></td>
            <td><a href="http://ivaynberg.github.io/select2/">ivaynberg.github.io</a></td>
            <td><a href="https://github.com/ivaynberg/select2">GitHub project</a></td>
        </tr>
        <tr>
            <td>5</td>
            <td>Typeahead</td>
            <td><a href="http://twitter.github.io/typeahead.js/">twitter.github.io</a></td>
            <td><a href="https://github.com/twitter/typeahead.js">GitHub project</a></td>
        </tr>
    </tbody>
</table>
