@{
    ViewBag.Title = "Components Overview";
}

<div class="row">

    <div class="hidden-xs hidden-sm col-md-3 col-lg-3">
        <div class="bs-sidebar">
            <ul class="nav bs-sidenav">

                <li>
                    <a href="#controls-section">UI Controls</a>
                    <ul class="nav">
                        <li><a href="#html-helpers">Razor integration</a></li>
                        <li><a href="#validation">Form validation</a></li>
                        <li><a href="#placeholder-tooltip">Placeholder &amp; tooltip</a></li>
                        <li><a href="#glyphicons">Glyphicons</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <main class="col-md-9 col-lg-9" role="main">

        <div class="bs-docs-section">
            <div class="page-header">
                <h1 id="controls-section">UI Controls</h1>
            </div>

            <p>The BFroms framework consists in a collection of ASP.NET MVC HTML Helpers, Javascript AMD modules and custom CSS that extends Twitter Bootstrap Version 3.</p>
            <p>
                With BFroms you'll be able to build ASP.NET MVC web apps using Bootstrap mobile-first approach and benefit 
                from out of the box HTML5 controls with both client and server side validation.
            </p>

            <p>BFroms input HTML Extensions cover most of the HTML5 new input types as well as the standard ones.</p>
            <p>
                Similar to the <code>DataAnnotations.DataType</code>, BForms provides a <code>BsControl</code> attribute
                and a <code>BsControlType</code> enum
                that allows you to specify witch type of input should the Razor engine render.
            </p>
        </div>

    </main>

</div>