@using BForms.Docs.Helpers
<h3 id="Repository">Repository</h3>

<p>
    There are no constraints on how you should build your repository specific to the <code>GroupEditor</code>.
</p>
<p>
    However, because the <code>GroupEditor</code> uses the <code>Grid</code> and the <code>Toolbar</code> controls you have to make changes to your repository to accommodate these controls.
</p>
<p>
    Please read and understand the requirements described in the <code>Grid</code> documentation under the <code>Repository</code> section.
</p>

<br />