@using BForms.FormBuilder
@using BForms.Models
@using DocumentFormat.OpenXml.Office2010.ExcelAc

<div class="grid_container">
    @(Html.FormBuilder()
          .HtmlAttributes(new { id = "formBuilder" })
          .ConfigureTabs(tabs =>
          {
              tabs.Add("Inputs").AddControls(FormBuilderControlType.Textbox,
                                            FormBuilderControlType.Textarea,
                                            FormBuilderControlType.NumberPicker,
                                            FormBuilderControlType.NumberPickerRange,
                                            FormBuilderControlType.DatePicker,
                                            FormBuilderControlType.DatePickerRange);

              tabs.Add("Lists").AddControls(FormBuilderControlType.SingleSelect,
                                            FormBuilderControlType.ListBox,
                                            FormBuilderControlType.TagList,
                                            FormBuilderControlType.RadioButtonList,
                                            FormBuilderControlType.CheckboxList);

              tabs.Add("Other").AddControls(FormBuilderControlType.Title,
                                            FormBuilderControlType.Pagebreak);

              tabs.Add(Glyphicon.HeartEmpty).AddControl(new FormBuilderControlViewModel
              {
                  Type = FormBuilderControlType.CustomControl,
                  ControlName = "uberCustomControl",
                  Text = "Uber custom control",
                  Glyphicon = Glyphicon.Heart
              });
          })
          .ConfigureActions(actions =>
          {
              actions.ActionsFor(x => x.Type == FormBuilderControlType.Textbox, new List<FormBuilderControlActionType> { FormBuilderControlActionType.Grab, FormBuilderControlActionType.Remove });

              actions.RegisterCustomAction(new FormBuilderCustomAction
              {
                  Name = "custom",
                  Glyphicon = Glyphicon.ThumbsUp,
                  Title = "Like us on Facebook"
              });
              
              actions.CustomActionsFor(x => x.Type == FormBuilderControlType.Textbox, new List<string> { "custom" });
          }))
</div>
