@using BForms.FormBuilder

<div class="grid_container">
    @(Html.FormBuilderFor()
          .HtmlAttributes(new { id = "formBuilder" })
          .ConfigureTabs(tabs =>
          {
              tabs.Add("Inputs");
              tabs.Add("Lists");
              tabs.Add("Other");
          }))
</div>
