<h3 id="Input-Textbox">TextBox Input</h3>

<p>        
    In order to render a text input of type text you will need to use the 
    <code>@@Html.BsInputFor</code> helper extension and 
    decorate your model property with <code>[BsControl(BsControlType.TextBox)]</code>.
</p>

<h4 class="sub_title">Example</h4>    
<div class="bs-example bs-img-example">
    <img src="@Url.Content("~/Content/images/docs/email-input.jpg")">
</div>

<h4 class="sub_title">Model</h4>
<pre class="prettyprint lang-cs bs-example">
public class RegisterModel
{
    [Required]
    [BsControl(BsControlType.TextBox)]
    [Display(Name = "Name", Prompt = "Surname and name")]
    public string Name { get; set; }
    
    ...
}
</pre>

<h4 class="sub_title">View</h4>
<pre class="prettyprint lang-cs bs-example">
&lt;div class=&quot;form-group&quot;&gt;
    @@Html.BsLabelFor(m =&gt; m.Name)
    &lt;div class=&quot;input-group&quot;&gt;
        @@Html.BsGlyphiconAddon(Glyphicon.User)
        @@Html.BsInputFor(m =&gt; m.Name)
        @@Html.BsValidationFor(m =&gt; m.Name)
    &lt;/div&gt;
&lt;/div&gt;
</pre>

<h4 class="sub_title">Specialized helper </h4>
<p>        
    To achieve the same behavior without the <code>BsControlAttribute</code>, you can use the specialized helper 
    <code>BsTextBoxFor</code> or <code>BsTextBox</code>.
</p>

<h4 class="sub_title">Model</h4>
<pre class="prettyprint lang-cs bs-example">
public class RegisterModel
{
    [Required]
    [Display(Name = "Name")]
    public string Name { get; set; }
    
    ...
}
</pre>

<h4 class="sub_title">View</h4>
<pre class="prettyprint lang-cs bs-example">
&lt;div class=&quot;form-group&quot;&gt;
    @@Html.BsLabelFor(m =&gt; m.Name)
    &lt;div class=&quot;input-group&quot;&gt;
        @@Html.BsGlyphiconAddon(Glyphicon.User)
        @@Html.BsTextBoxFor(m =&gt; m.Name, new { placeholder="Surname and name" })
        @@Html.BsValidationFor(m =&gt; m.Name)
    &lt;/div&gt;
&lt;/div&gt;
</pre>