<h3 id="Select">Select helper</h3>

<p>        
    In order to render a text input of type email you will need to use the 
    <code>@@Html.BsInputFor</code> helper extension and 
    decorate your model property with <code>[BsControl(BsControlType.Email)]</code>.
</p>

<h4 class="sub_title">Example</h4>    
<div class="bs-example bs-img-example">
    <img src="@Url.Content("~/Content/images/docs/email-input.jpg")">
</div>

<h4 class="sub_title">Model</h4>
<pre class="prettyprint lang-cs bs-example">
public class RegisterModel
{
    [Display(Name = "Location", Prompt = "Choose your country")]
    [BsControl(BsControlType.DropDownList)]
    public BsSelectList&lt;int?&gt; CountryList { get; set; }
    
    ...
}
</pre>

<h4 class="sub_title">View</h4>
<pre class="prettyprint lang-cs bs-example">
&lt;div class=&quot;form-group&quot;&gt;
    @@Html.BsLabelFor(m =&gt; m.CountryList)
    &lt;div class=&quot;input-group&quot;&gt;
        @@Html.BsSelectFor(m =&gt; m.CountryList)
        @@Html.BsValidationFor(m =&gt; m.CountryList)
    &lt;/div&gt;
&lt;/div&gt;
</pre>