@{
    ViewBag.Title = "Welcome to BForms";
}

<div class="row">
    <div class="col-lg-3">
        <aside class="">
            <ul class="nav bs-sidenav">

                <li class="active">
                    <a href="#Components">Components</a>
                    <ul class="nav">
                        <li class="active"><a href="#html-helpers">MVC HTML helpers</a></li>
                        <li><a href="#placeholder-tooltip">Placeholder &amp; tooltip</a></li>
                        <li><a href="#validation">Validation</a></li>
                        <li><a href="#glyphicons">Glyphicons</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#controls-section">UI Controls</a>
                    <ul class="nav">
                        <li><a href="#TextInputs">Text inputs</a></li>
                        <li><a href="#Dropdown">Dropdown</a></li>
                        <li><a href="#ListBox">ListBox</a></li>
                        <li><a href="#TagList">TagList</a></li>
                        <li><a href="#RadioButtonList">RadioButtonList</a></li>
                    </ul>
                </li>

            </ul>
        </aside>
    </div>

    <main class="col-lg-9" role="main">

        <div class="bs-docs-section">
            <div class="page-header">
                <h1 id="Components">Components</h1>
            </div>

            <p>The BFroms framework consists in a collection of ASP.NET MVC HTML Helpers, Javascript AMD modules and custom CSS that extends Twitter Bootstrap Version 3.</p>
            <p>
                With BFroms you'll be able to build ASP.NET MVC web apps using Bootstrap mobile-first approach and benefit from out of the box HTML5 controls with both client and server side validation.
            </p>

        </div>

        <div class="bs-docs-section">
            <div class="page-header">
                <h1 id="controls-section">UI Controls</h1>
            </div>

            <p>BFroms input HTML Extensions cover most of the HTML5 new input types as well as the standard ones.</p>
            <p>
                Similar to the <strong>DataAnnotations.DataType</strong>, BForms provides a <strong>BsControl</strong> attribute
                and a <strong>BsControlType</strong> enum
                that allows you to specify witch type of input should the Razor engine render.
            </p>
            @Html.Partial("_TextInput")
        </div>

    </main>

</div>