<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <paths>
    <!-- jQuery core -->
    <path key="jquery" value="bforms/components/jquery/jquery" />
    <path key="jquery-migrate" value="bforms/components/jquery/jquery-migrate"/>
    <path key="jquery-ui-core" value="bforms/components/jquery-ui/jquery-ui.core"/>

    <!-- jQuery plugins -->
    <path key="validate" value="bforms/plugins/validation/jquery.validate" />
    <path key="select2" value="bforms/plugins/select2/js/select2" />
    <path key="selectInput2" value="bforms/plugins/select2/js/selectInput2" />

    <!-- BForms -->
    <path key="bootstrap" value="bforms/components/bootstrap/js/bootstrap" />
    <path key="validate-bootstrap" value="bforms/plugins/validation/jquery.validate.unobtrusive.bootstrap" />
    <path key="styleInputs" value="bforms/plugins/styleInputs/styleInputs" />
    <path key="resetInput" value="bforms/plugins/resetInput/resetInput" />
    <path key="radioButtonsList" value="bforms/plugins/radioButtonsList/radioButtonsList" />
    <path key="bootstrap-datepicker" value="bforms/plugins/datepicker/js/bootstrap-datepicker" />
    
    <!-- RequireJs -->
    <path key="depend" value="lib/vendor/requirejs/depend" />
    <path key="order" value="lib/vendor/requirejs/order" />
    <path key="i18n" value="lib/vendor/requirejs/i18n" />
    <path key="text" value="lib/vendor/requirejs/text" />

    <!-- js i18n -->
    <path key="validate-ro" value="lib/vendor/jquery/plugins/i18n/jquery.validate-ro" />
    <path key="bootstrap-datepicker-ro" value="bforms/plugins/datepicker/js/i18n/bootstrap-datepicker.ro" />
    <path key="select2-ro" value="bforms/plugins/select2/js/i18n/select2-ro" />  
    
  </paths>
  <shim>
    <dependencies for="jquery" exports="jQuery"></dependencies>

    <dependencies for='jquery-migrate' exports=''>
      <add dependency='jquery'/>
    </dependencies>

    <dependencies for='jquery-ui-core' exports=''>
      <add dependency='jquery'/>
    </dependencies>

    <dependencies for='bootstrap' export=''>
      <add dependency='jquery'/>
      <add dependency='jquery-ui-core'/>
    </dependencies>

    <dependencies for="bootstrap-datepicker" exports="">
      <add dependency="jquery"/>
      <add dependency="bootstrap"/>
    </dependencies>

    <dependencies for="bootstrap-datepicker-ro" exports="">
      <add dependency="bootstrap-datepicker"/>
    </dependencies>

    <dependencies for="select2" exports="">
      <add dependency="jquery"/>
      <add dependency='jquery-ui-core'/>
    </dependencies>

    <dependencies for="select2-ro" exports="">
      <add dependency="select2"/>
    </dependencies>
    
    <dependencies for="validate" exports="">
      <add dependency="jquery"/>
    </dependencies>
    
    <dependencies for="validate-ro" exports="">
      <add dependency="validate"/>
    </dependencies>
    
    <dependencies for="validate-bootstrap" exports="">
      <add dependency="jquery"/>
      <add dependency="bootstrap"/>
      <add dependency="validate"/>
    </dependencies>
    
  </shim>
</configuration>