<?xml version="1.0" encoding="utf-8" ?>
<!--
  For more information on how to configure RequireJS.NET, please visit
  https://github.com/stefanprodan/RequireJSDotNet
  -->
<configuration>
  <paths>
   
    <!-- Frameworks -->
    <path key="jquery" value="bforms/bundles/components" />
    <path key="jquery-migrate" value="bforms/bundles/components"/>
    <path key="bootstrap" value="bforms/bundles/components" />
    <path key="jquery-ui-core" value="bforms/bundles/components"/>
    <path key="amplify" value="bforms/bundles/components" />
    
    <!-- Validate -->
    <path key="bforms-validate" value="bforms/bundles/plugins" />
    <path key="bforms-validate-unobtrusive" value="bforms/bundles/plugins" />

    <!-- DateTime picker -->
    <path key="bforms-datepicker" value="bforms/bundles/plugins" />
    <path key="bforms-datepicker-tmpl" value="bforms/bundles/plugins" />
    <path key="bforms-datepicker-range" value="bforms/bundles/plugins" />
    <path key="bforms-datepicker-i18n" value="bforms/bundles/plugins" />
    
    <!-- DateTime picker frameworks -->
    <path key="icanhaz" value="bforms/bundles/plugins" />
    <path key="moment" value="bforms/bundles/plugins" />
    <path key="moment-calendar" value="bforms/bundles/plugins" />

    <!-- Radio & Checkbox lists -->
    <path key="bforms-radiolist" value="bforms/bundles/plugins" />
    <path key="bforms-checklist" value="bforms/bundles/plugins" />

    <!-- Nav scroll -->
    <path key="bforms-navscroll" value="bforms/bundles/plugins" />

    <!-- Select2 -->
    <path key="select2" value="bforms/bundles/plugins" />
    <path key="bforms-select2" value="bforms/bundles/plugins" />

    <!-- Typeahead -->
    <path key="typeahead" value="bforms/bundles/plugins" />
    <path key="bforms-typeahead" value="bforms/bundles/plugins" />

    <!-- UI -->
    <path key="bforms-initUI" value="bforms/bundles/plugins" />
    <path key="bforms-resetInput" value="bforms/bundles/plugins" />
    <path key="bforms-extensions" value="bforms/bundles/plugins" />

    <!-- Grid -->
    <path key="bforms-grid" value="bforms/bundles/widgets" />
    <path key="bforms-toolbar" value="bforms/bundles/widgets" />
    <path key="bforms-pager" value="bforms/bundles/widgets" />
    <path key="bforms-editable" value="bforms/bundles/widgets" />
    <path key="bforms-form" value="bforms/bundles/widgets" />

    <!-- Utils -->
    <path key="bforms-ajax" value="bforms/bundles/widgets" />
    <path key="bforms-namespace" value="bforms/bundles/widgets" />

    <!-- i18n -->
    <path key="validate-ro" value="bforms/bundles/plugins" />
    <path key="select2-ro" value="bforms/bundles/plugins" />
    
    <!-- RequireJs plugins -->
    <path key="depend" value="requirejs/depend" />
    <path key="i18n" value="requirejs/i18n" />
    <path key="text" value="requirejs/text" />   
    
  </paths>
  <shim>
  </shim>
</configuration>