<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <paths>
    <!-- Frameworks -->
    <path key="jquery" value="bforms/components/jquery/jquery" />
    <path key="jquery-migrate" value="bforms/components/jquery/jquery-migrate"/>
    <path key="jquery-ui-core" value="bforms/components/jquery-ui/jquery-ui.core"/>
    <path key="bootstrap" value="bforms/components/bootstrap/js/bootstrap" />

    <!-- Validate -->
    <path key="bforms-validate" value="bforms/plugins/validation/bforms.validate" />
    <path key="bforms-validate-unobtrusive" value="bforms/plugins/validation/bforms.validate.unobtrusive" />

    <!-- Amplify -->
    <path key="amplify-store" value="bforms/components/amplify/amplify.store.min" />

    <!-- DateTime picker -->
    <path key="bforms-datepicker" value="bforms/plugins/datepicker/js/bforms.datepicker" />
    <path key="bforms-datepicker-tmpl" value="bforms/plugins/datepicker/js/bforms.datepicker.tmpl" />
    <path key="bforms-datepicker-range" value="bforms/plugins/datepicker/js/bforms.datepicker.range" />
    <path key="bforms-datepicker-i18n" value="bforms/plugins/datepicker/js/i18n/lang.bundle" />
    
    <!-- DateTime picker frameworks -->
    <path key="icanhaz" value="bforms/plugins/datepicker/js/lib/icanhaz" />
    <path key="moment" value="bforms/plugins/datepicker/js/lib/moment" />
    <path key="moment-calendar" value="bforms/plugins/datepicker/js/lib/moment.isocalendar" />

    <!-- Radio & Checkbox lists -->
    <path key="bforms-radioButtonsList" value="bforms/plugins/radioButtonsList/bforms.radioButtonsList" />
    <path key="bforms-checkBoxList" value="bforms/plugins/checkBoxList/bforms.checkBoxList" />

    <!-- Nav scroll -->
    <path key="bforms-navscroll" value="bforms/plugins/navscroll/bforms.navscroll" />

    <!-- Select2 -->
    <path key="select2" value="bforms/plugins/select2/js/select2" />
    <path key="bforms-select2" value="bforms/plugins/select2/js/bforms.select2" />

    <!-- Typeahead -->
    <path key="typeahead" value="bforms/plugins/typeahead/typeahead" />
    <path key="bforms-typeahead" value="bforms/plugins/typeahead/bforms.typeahead" />

    <!-- UI -->
    <path key="bforms-initUI" value="bforms/plugins/UI/bforms.initui" />
    <path key="bforms-resetInput" value="bforms/plugins/UI/bforms.resetInput" />
    <path key="bforms-extensions" value="bforms/plugins/UI/bforms.extensions" />

    <!-- Grid -->
    <path key="bforms-grid" value="bforms/plugins/grid/js/bforms.grid" />
    <path key="bforms-toolbar" value="bforms/plugins/grid/js/bforms.toolbar" />
    <path key="bforms-pager" value="bforms/plugins/grid/js/bforms.pager" />
    <path key="bforms-editable" value="bforms/plugins/grid/js/bforms.editable" />
    <path key="bforms-form" value="bforms/plugins/grid/js/bforms.form" />

    <!-- Utils -->
    <path key="bforms-ajax" value="bforms/plugins/utils/bforms.ajax" />
    <path key="bforms-namespace" value="bforms/plugins/utils/bforms.namespace" />

    <!-- i18n -->
    <path key="validate-ro" value="bforms/plugins/validation/i18n/bforms.validate-ro" />
    <path key="select2-ro" value="bforms/plugins/select2/js/i18n/select2-ro" />
    
    <!-- RequireJs plugins -->
    <path key="depend" value="lib/vendor/requirejs/depend" />
    <path key="order" value="lib/vendor/requirejs/order" />
    <path key="i18n" value="lib/vendor/requirejs/i18n" />
    <path key="text" value="lib/vendor/requirejs/text" />   
    
  </paths>
  <shim>
    <dependencies for="jquery" exports="jQuery"></dependencies>
    
    <dependencies for='jquery-migrate' exports=''>
      <add dependency='jquery'/>
    </dependencies>

    <dependencies for='jquery-ui-core' exports=''>
      <add dependency='jquery'/>
    </dependencies>

    <dependencies for='bootstrap' export=''>
      <add dependency='jquery'/>
      <add dependency='jquery-ui-core'/>
    </dependencies>

    <dependencies for="select2" exports="">
      <add dependency="jquery"/>
      <add dependency='jquery-ui-core'/>
    </dependencies>

    <dependencies for="select2-ro" exports="">
      <add dependency="select2"/>
    </dependencies>
    
    <dependencies for="bforms-validate" exports="">
      <add dependency="jquery"/>
    </dependencies>
      
    <dependencies for="bforms-validate-unobtrusive" exports="">
      <add dependency="jquery"/>
      <add dependency="bootstrap"/>
      <add dependency="bforms-validate"/>
    </dependencies>

    <dependencies for="validate-ro" exports="">
      <add dependency="bforms-validate"/>
    </dependencies>

    <dependencies for="typeahead" exports="">
      <add dependency="jquery"/>
    </dependencies>

    <dependencies for="moment-calendar" exports="">
      <add dependency="moment"/>
    </dependencies>
    
    <dependencies for="bforms-datepicker-i18n" exports="">
      <add dependency="moment"/>
    </dependencies>
  </shim>
</configuration>