<?xml version="1.0" encoding="utf-8" ?>
<!--
  For more information on how to configure RequireJS.NET, please visit
  https://github.com/stefanprodan/RequireJSDotNet
  -->
<configuration>
  <paths>
    
    <!--Docs scripts-->
    <path key="main-script" value="controllers/common/main-script" />
    
  </paths>
  <shim>
  </shim>
</configuration>