@model BForms.Docs.Areas.Demo.Models.UserProfileModel
@using BForms.Docs.Areas.Demo.Models
@using BForms.Docs.Controllers
@using BForms.Html
@using BForms.Panels
@using BForms.Renderers

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-lg-12">
        <h1><span class="glyphicon glyphicon-star-empty"></span> User profile</h1>
    </div>


    @(Html.BsPanelsFor(Model).ConfigurePanels(cfg =>
        {
            cfg.Renderer<BsPanelBaseRenderer>();
            
            cfg.GetReadonlyUrl = Url.Action("GetReadonlyContent");
            cfg.GetEditableUrl = Url.Action("GetEditableContent");
            cfg.UpdateUrl = Url.Action("SetContent");

            cfg.For(x => x.Basic).Content(Html.Partial("Readonly/_Basic", Model.Basic).ToString());

            cfg.For(x => x.UserInfo).HtmlAttributes(new {@class = "bs-userInfo"}).Theme(BsPanelTheme.LightGreen);

            cfg.For(x => x.Contact).HtmlAttributes(new {@class = "bs-contact"}).InitialEditable();
        }))  
</div>

