@using BForms.Docs.Helpers
<h3 id="BsExcelResult">Excel result</h3>

<p><code>BsExcelResult</code> is an <code>ActionResult</code> that helps you return an excel file.</p>

<p>
    <h4 class="sub_title">Constructor</h4>
</p>
<p>
    You can use it by simply providing a list of items and a filename.
</p>
<pre class="prettyprint lang-cs bs-example">
@Html.InsertFileContentCached("~/Views/Docs/Excel/Source/_Constructor.cs.embed")
</pre>

<br />

<p>
    If you wish to configure the style or the display text of the cells, use the <code>BsGridExcelBuilder&#60;T&#62;.</code>
</p>

<pre class="prettyprint lang-cs bs-example">
@Html.InsertFileContentCached("~/Views/Docs/Excel/Source/_ConstructorBuilder.cs.embed")
</pre>

<br />


