@using BForms.Docs.Helpers
<h3 id="Style">Style</h3>

<p><code>BsGridExcelStyle</code> is the class behind the cells style formatting.</p>

<p>
    You can style a specific cell, row, column or header by setting the <code>Style</code> property in the builder configuration part.
</p>

<p>
    <h4 class="sub_title">Class</h4>
</p>

<pre class="prettyprint lang-cs bs-example">
@Html.InsertFileContentCached("~/Views/Docs/Excel/Source/_StyleClass.cs.embed")
</pre>

<br />

<p>
    <h4 class="sub_title">Color</h4>
</p>

<p>
    The framework provides a set of excel specific colors to help you style the file content via the <code>BsGridExcelColor</code> enum.

    Below you can find the list:
</p>

<pre class="prettyprint lang-cs bs-example">
@Html.InsertFileContentCached("~/Views/Docs/Excel/Source/_ColorList.cs.embed")
</pre>
