@{
    ViewBag.Title = "Excel control";
}

<div class="row">
    <div class="hidden-xs hidden-sm col-md-3 col-lg-3">
        <div class="bs-sidebar">
            <ul class="nav bs-sidenav">
                <li>
                    <a href="#select-section">Excel control</a>
                    <ul class="nav">
                        <li><a href="#BsExcelResult">Excel result</a></li>
                        <li><a href="#Builder">Builder</a></li>
                        <li><a href="#Style">Style</a></li>
                        <li><a href="#Example">Example</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <main class="col-md-9 col-lg-9" role="main">
        <div class="bs-docs-section">
            <div class="page-header">
                <h1 id="select-section">Excel Builder</h1>
            </div>
            
            <p>
                BForms <strong>Excel Builder</strong> component is designed to export the <strong>Grid's</strong> items into an excel file.
            </p>

            <hr />
            @Html.Partial("Excel/_ExcelResult")
            <hr />

            @Html.Partial("Excel/_Builder")
            <hr />

            @Html.Partial("Excel/_Style")
            <hr />

            @Html.Partial("Excel/_Example")

        </div>

    </main>
</div>
