@using BootstrapForms.Html
@using BootstrapForms.Models
@{
    ViewBag.Title = "Contact";
}

<div class="bs-docs-section">
    <div class="page-header">
        <h1>@ViewBag.Title</h1>
    </div>

    <h3>GitHub</h3>
    <a href="https://github.com/stefanprodan/BForms/" target="_blank">@Html.BsGlyphicon(Glyphicon.Share) BForms Github home</a>
</div>