@{
    ViewBag.Title = "BForms Framework";
}

<div class="bs-docs-section">

    <div class="jumbotron">
        <h1 style="font-size: 30px;">Bootstrap Forms for ASP.NET MVC</h1>
        <p>The BFroms open source framework consists in a collection of ASP.NET MVC HTML Helpers, Javascript AMD modules and custom CSS made with SASS that extends Twitter Bootstrap Version 3.x</p>
        <p>
            <a class="btn btn-lg btn-default" href="@Url.Action("Overview", "Components")">Getting started »</a>
        </p>
    </div>

    <div class="bs-link">
            <ul class="bs-link-buttons">
                <li class="current-version">
                    Version <strong>0.0.1</strong> Pre Alpha
                </li>
                <li>
                    <a href="#">Changelog</a>
                </li>
                <li>
                    <a href="https://github.com/stefanprodan/bforms">Source code</a>
                </li>
                <li>
                    <a href="#">Packages</a>
                </li>
            </ul>
    </div>

    <div class="row bs-docs-tech">

        <div class="col-md-4 col-lg-4">
            <h2>.NET Integration</h2>
            <p>
                BForms framework smoothly integrates Bootstrap with ASP.NET MVC on the server side using 
                Razor HTML extesions, custom model validator providers, model behavior throw attributes and Json serialization.
            </p>
            <p><a class="btn btn-default" href="#">View details »</a></p>
        </div>

        <div class="col-md-4 col-lg-4">
            <h2>JavaScript</h2>
            <p>
                Our JavaScript framework consists of AMD campatible modules that makes client-side development easy.
                Besides our controls, BForms comes with out of the box JavaScript components like Select2 and Typeahead.
            </p>
            <p><a class="btn btn-default" href="#">View details »</a></p>
        </div>

        <div class="col-md-4 col-lg-4">
            <h2>NuGet</h2>
            <p>
                BFroms has several NuGet packages for assemby, js scripts and vs.net template hosted on nuget.org and to make server-side debugging easy 
                we've set-up a symbol source package hosted on symbolsource.org.
            </p>
            <p><a class="btn btn-default" href="#">View details »</a></p>
        </div>

    </div>

    <div class="row">

        @if (!HttpContext.Current.IsDebuggingEnabled)
        {
            @Html.Partial("_Social")
        }
        
        
    </div>

</div>
