@{
    ViewBag.Title = "BForms Framework";
}

<div class="bs-docs-section">

    <div class="jumbotron">
        <h1 style="font-size: 30px;">Bootstrap Forms for ASP.NET MVC</h1>
        <p>The BFroms open source framework consists in a collection of ASP.NET MVC HTML Helpers, Javascript AMD modules and custom CSS made with SASS that extends Twitter Bootstrap Version 3.x</p>
        <p>
            <a class="btn btn-lg btn-default" href="@Url.Action("Overview", "Components")">Getting started »</a>
        </p>
    </div>

    <div class="row">

        <div class="col-lg-4">
            <h2>.NET Integration</h2>
            <p>
                BForms framework smoothly integrates Bootstrap with ASP.NET MVC on the server side using 
                Razor HTML extesions, custom model validator providers, model behavior throw attributes and Json serialization.
            </p>
            <p><a class="btn btn-default" href="#">View details »</a></p>
        </div>

        <div class="col-lg-4">
            <h2>JavaScript</h2>
            <p>
                Our JavaScript framework consists of AMD campatible modules that makes client-side development easy.
                Besides our controls, BForms comes with out of the box JavaScript components like Select2 and Typeahead.
            </p>
            <p><a class="btn btn-default" href="#">View details »</a></p>
        </div>

        <div class="col-lg-4">
            <h2>NuGet</h2>
            <p>
                BFroms has several NuGet packages for assemby, js scripts and vs.net template hosted on nuget.org and to make server-side debugging easy 
                we've set-up a symbol source package hosted on symbolsource.org.
            </p>
            <p><a class="btn btn-default" href="#">View details »</a></p>
        </div>

    </div>

    <div class="row">

        <div class="bs-social col-lg-12" style="text-align: left;">
            <ul class="bs-social-buttons" style="margin-bottom: 0; padding-left: 0; list-style: none; margin-top: 35px;">
                <li style="display: inline-block;">
                    <iframe src="http://ghbtns.com/github-btn.html?user=stefanprodan&repo=bforms&type=watch&count=false"
                            allowtransparency="true" frameborder="0" scrolling="0" width="55" height="20"></iframe>
                </li>
                <li style="display: inline-block;">
                    <iframe src="http://ghbtns.com/github-btn.html?user=stefanprodan&repo=bforms&type=fork&count=false"
                            allowtransparency="true" frameborder="0" scrolling="0" width="60" height="20"></iframe>
                </li>
                <li style="display: inline-block;">
                    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://bforms.azurewebsites.net" data-text="Bootstrap Forms for ASP NET MVC" data-via="stefanprodan" data-count="none">Tweet</a>
                    <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
                </li>
            </ul>
        </div>

        <div class="bs-link col-lg-12" style="text-align: left;">
            <ul class="bs-link-buttons" style="padding: 0; margin-top: 20px; margin-bottom: 20px; list-style: none;">
                <li class="current-version" style="display: inline-block; margin-right: 10px;">
                    Version <strong>0.0.1</strong> Pre Alpha
                </li>
                <li style="display: inline-block; margin-right: 10px;">
                    <a href="@Url.Action("Overview", "Components")">BForms docs</a>
                </li>
                <li style="display: inline-block; margin-right: 10px;">
                    <a href="https://github.com/stefanprodan/bforms">GitHub project</a>
                </li>
                <li style="display: inline-block;">
                    <a href="@Url.Action("Index", "Login", new { area = "Demo" })">Examples</a>
                </li>
            </ul>
        </div>
    </div>

</div>
