$turqoise: #45ADA8;
$navy: #547980;
$Gray: #dadada;
$darkGray: #585858;
$textGray: #989898;
$textColor: #212121;
$borderColor: #e8e8e8;

html {
	overflow-y: scroll !important; 
}
body {
	max-width: 1024px;
	margin: 20px auto 0;
	padding: 0 10px;
	width: 99%;
	font-size: 17px;
}
.sidebar-nav {
	padding: 9px 0;
}

%box_sizing-border_box {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}


/* Override bootstrap*/

.container-fluid {
	padding: 0;
}
.navbar-inner, .navbar {
	background: #fff;
	background-image: none;
	filter: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
a {
	color: $textColor;
	&:hover {
		text-decoration: none;
		color: $navy !important;
		background-color: transparent !important;
	}
}


/* Global loading */

.loading-global {
	background: url(../images/preloader.gif) center center no-repeat;
	background-color: #FFF;
	background-color: rgba(255, 255, 255, 0.9);
	display: none;
	width: 100px;
	height: 50px;
	margin-left: -50px;
	left: 50%;
	top: 0;
	text-indent: -999em;
	position: fixed;
	border-radius: 0 0 2px 2px;
	-moz-box-shadow: 0 2px 5px rgba(20, 30, 50, 0.1);
	-webkit-box-shadow: 0 2px 5px rgba(20, 30, 50, 0.1);
	box-shadow: 0 2px 5px rgba(20, 30, 50, 0.1);
	z-index: 2000;
}

/* Header */

.navbar {
	padding: 0 0 30px 0;
	border-bottom: 1px solid $borderColor;
	.brand { /*Logo*/
		padding: 0;
		margin: 0;
	}
	.navbar-inner {
		border: 0;
		padding: 0;
	}
	.nav > li {
		margin: 10px 15px 10px;
		text-transform: uppercase;
		font-size: 21px;
		line-height: 30px;
		> a {
			padding: 0 0 2px 0;
			color: $textColor;	
			.glyphicon {
				vertical-align: top;
			}			
		}
		.dropdown-menu {
			min-width: 180px;
			top: 120%;
			li {
				text-transform: none;
				font-size: 14px;
				.badge-info {
					margin-left: 10px;
					background: $navy;
				}
			}
		}
	}
	li.active {
		> a {
		border-bottom: 2px solid $turqoise;
		}
		.dropdown-toggle {
			background: #fff;
		}
	}
	.navbar-toggle { /*Nav button for mobile*/
		right: 0;
		border: none;
		background-image: none;
		background: $darkGray;
		&:hover {
			background: $Gray;
		}
	}
}

/* Main area */

h1 {
	font-size: 20px;
	line-height: normal;
	font-weight: normal;
	border-bottom: 2px solid $turqoise;
	padding-bottom: 10px;
	margin-bottom: 35px;
	span {
		color: $turqoise;
	}
}
.gray {
	color: $textGray;
}


/* Other pages */
.docs_page {
	p, li {
		margin: 0 0 10px;
		font-size: 17px;
		line-height: 24px;
	}
	table {
		min-width: 700px;
	}
}

/* Aside menu*/

.bs-sidebar {
	.bs-sidenav {
		margin-top: 30px;
		margin-bottom: 30px;
		padding-top: 10px;
		padding-bottom: 10px;
		text-shadow: 0 1px 0 #fff;
		background-color: #f7f5fa;
		.active > a {
			border-right: 2px solid $turqoise;
			color: $turqoise;
		}		
	}
	.nav li a {
		font-weight: bold;
	}
	.nav .nav li a {
		font-weight: normal;
		padding: 10px 15px 10px 25px;
	}
}

/* Example page*/

.bs-docs-section {
	.page-header {
		padding: 0;
		border: none;
		h1 {
			font-size: 27px;
		}
	}
	h3 {
		font-size: 22px;
	}
	.sub_title {
		font-size: 14px;
		font-weight: bold;
		color: $textGray;
		text-transform: uppercase;
		margin-top: 20px;
	}
	.bs-example {
		position: relative;
		padding: 15px;
		background-color: #fafafa;
		border: 1px solid $borderColor;
		margin-bottom: -1px;
		&.bs-img-example {
			background: #fff;
		}
	}
	.highlight {
		padding: 9px 14px;
		margin-bottom: 14px;
		background-color: #f7f7f9;
		border: 1px solid $borderColor;
		pre {
			padding: 0;
			margin-top: 0;
			margin-bottom: 0;
			background-color: transparent;
			border: 0;
			white-space: nowrap;
		}
	}
}



/* Error pages */

.error_page {
	.brand {
		margin-bottom: 20px;
		display: inline-block;
	}
	h1 {
		font-size: 30px;
		.glyphicon:before {
			font-size: 30px;
		}
	}
	h2 {
		font-size: 20px;
		color: $textGray;
	}
	.btn {
		margin-right: 5px;
		padding: 4px 12px;
		border: 1px solid #CCC;
		border-bottom: 2px solid $turqoise;
		text-transform: uppercase;
		font-size: 17px;
		&:last-child {
			border-bottom: 2px solid $navy;
		}
	}
	.icon {
		width: 50px;
		height: 50px;
		display: inline-block;
		vertical-align: middle;
		margin-top: -10px;
		&.icon-unauthorized {
			background: url(../images/icn-err_unauth.png) 0 0 no-repeat;
		}
		&.icon-notfound {
			background: url(../images/icn-err_notfound.png) 0 0 no-repeat;
		}
		&.icon-error {
			background: url(../images/icn-err_error.png) 0 0 no-repeat;
		}
	}
}

/* Footer */

.footer {
	background: #f1f1f1;
	padding: 20px;
	margin-top: 20px;
	ul {
		list-style-type: none;
		margin: 0 0 10px 0;
		padding: 0;
		li {
			display: inline-block;
			margin-right: 5px;
			.divider {
				margin-left: 5px;
			}
		}
	}
}

.affix {
	position: fixed;
}
.affix-bottom {
	position: absolute;
}
@media screen and (min-width: 757px) {
	.bs-sidebar.affix {
		position: fixed;
		top: 0;
	}
}

@media screen and (min-width: 1200px) {
	.bs-sidebar.affix-bottom, 
	.bs-sidebar.affix {
		width: 229px;
	}
}

@media (max-width: 756px) {
	.brand img {
		max-width: 230px;
	}	
	.pull-right { /* Enable use of floated navbar text */
		float: none !important;
	}
	.navbar .nav-collapse {
		margin-top: 0;
	}
	
	.dropdown-menu {
		position: relative;
		top: auto;
		right: auto;
		float: none;
		border: 0;
		a {
			font-size: 18px;
		}
	}
	.row {
		margin-right: 0;
		margin-left: 0;
	}	
	
	.bs-table-scrollable {
		width: 100%;
		margin-bottom: 15px;
		overflow-y: hidden;
		overflow-x: scroll;
		border: 1px solid #DDD;		
	}
	
	.footer {
		padding: 10px;
		.pull-right {
			margin-top: 10px;
		}
	}
}