html {
  overflow-y: scroll !important; }

body {
  max-width: 1024px;
  margin: 20px auto 0;
  padding: 0 10px;
  width: 99%;
  font-size: 17px; }

.sidebar-nav {
  padding: 9px 0; }

/* Override bootstrap*/
.container-fluid {
  padding: 0; }

.navbar-inner, .navbar {
  background: #fff;
  background-image: none;
  filter: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

a {
  color: #212121; }
  a:hover, a:focus {
    text-decoration: none;
    color: #547980 !important;
    background-color: transparent !important; }

/* Global loading */
.loading-global {
  background: url(../images/preloader.gif) center center no-repeat;
  background-color: #FFF;
  background-color: rgba(255, 255, 255, 0.9);
  display: none;
  width: 100px;
  height: 50px;
  margin-left: -50px;
  left: 50%;
  top: 0;
  text-indent: -999em;
  position: fixed;
  border-radius: 0 0 2px 2px;
  -moz-box-shadow: 0 2px 5px rgba(20, 30, 50, 0.1);
  -webkit-box-shadow: 0 2px 5px rgba(20, 30, 50, 0.1);
  box-shadow: 0 2px 5px rgba(20, 30, 50, 0.1);
  z-index: 2000; }

/* Header */
.navbar {
  padding: 0 0 30px 0;
  border-bottom: 1px solid #e8e8e8; }
  .navbar .brand {
    /*Logo*/
    padding: 0;
    margin: 0; }
  .navbar .navbar-inner {
    border: 0;
    padding: 0; }
  .navbar .nav > li {
    margin: 10px 15px 10px;
    text-transform: uppercase;
    font-size: 21px;
    line-height: 30px; }
    .navbar .nav > li > a {
      padding: 0 0 2px 0;
      color: #212121; }
      .navbar .nav > li > a .glyphicon {
        vertical-align: top; }
      .navbar .nav > li > a:hover, .navbar .nav > li > a:focus {
        background: transparent !important; }
    .navbar .nav > li .dropdown-menu {
      min-width: 180px;
      top: 120%; }
      .navbar .nav > li .dropdown-menu li {
        text-transform: none;
        font-size: 14px; }
        .navbar .nav > li .dropdown-menu li .badge-info {
          margin-left: 10px;
          background: #547980; }
    .navbar .nav > li:hover, .navbar .nav > li:focus {
      background: transparent !important; }
  .navbar .nav .open > a,
  .navbar .nav .open > a:hover,
  .navbar .nav .open > a:focus {
    background-color: transparent !important; }
  .navbar li.active > a {
    border-bottom: 2px solid #45ada8; }
  .navbar li.active .dropdown-toggle {
    background: #fff; }
  .navbar .navbar-toggle {
    /*Nav button for mobile*/
    right: 0;
    border: none;
    background-image: none;
    background: #585858; }
    .navbar .navbar-toggle:hover {
      background: #dadada; }

/* Main area */
h1 {
  font-size: 20px;
  line-height: normal;
  font-weight: normal;
  border-bottom: 2px solid #45ada8;
  padding-bottom: 10px;
  margin-bottom: 35px; }
  h1 span {
    color: #45ada8; }

.gray {
  color: #989898; }

/* Other pages */
.docs_page p, .docs_page li {
  margin: 0 0 10px;
  font-size: 17px;
  line-height: 24px; }
.docs_page table {
  min-width: 700px; }

/* Main page */
.bs-docs-section .jumbotron {
  background: #fff;
  border: 1px solid #e8e8e8; }
  .bs-docs-section .jumbotron h1 {
    font-size: 30px; }
  .bs-docs-section .jumbotron p a {
    text-decoration: underline; }
.bs-docs-section .bs-link-buttons {
  padding: 0;
  margin: 0 0 30px;
  list-style: none; }
  .bs-docs-section .bs-link-buttons li {
    display: inline-block;
    margin-right: 10px; }
    .bs-docs-section .bs-link-buttons li.current-version {
      color: #45ada8; }
.bs-docs-section .bs-docs-tech {
  margin: 0;
  background: #45ada8;
  color: #fff;
  display: table;
  position: relative; }
  .bs-docs-section .bs-docs-tech > div {
    border-right: 1px solid #3e9b96;
    border-left: 1px solid #52bab5;
    display: table-cell;
    float: none;
    padding-bottom: 60px; }
    .bs-docs-section .bs-docs-tech > div:first-child {
      border-left: none; }
    .bs-docs-section .bs-docs-tech > div:last-child {
      border-right: none; }
  .bs-docs-section .bs-docs-tech .bs-docs-details {
    position: relative; }
  .bs-docs-section .bs-docs-tech h2 a,
  .bs-docs-section .bs-docs-tech p a {
    color: #fff; }
    .bs-docs-section .bs-docs-tech h2 a:hover,
    .bs-docs-section .bs-docs-tech p a:hover {
      color: #333 !important; }
  .bs-docs-section .bs-docs-tech p {
    font-size: 16px; }
    .bs-docs-section .bs-docs-tech p a {
      text-decoration: underline; }
  .bs-docs-section .bs-docs-tech .btn {
    margin: 20px 0 10px;
    position: absolute;
    bottom: 10px; }
    .bs-docs-section .bs-docs-tech .btn:hover, .bs-docs-section .bs-docs-tech .btn:focus {
      background: #3e9b96 !important; }

/* Aside menu*/
.bs-sidebar .bs-sidenav {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-shadow: 0 1px 0 #fff;
  background-color: #f7f5fa; }
  .bs-sidebar .bs-sidenav .active > a {
    border-right: 2px solid #45ada8;
    color: #45ada8; }
.bs-sidebar .nav li a {
  font-weight: bold; }
.bs-sidebar .nav .nav li a {
  font-weight: normal;
  padding: 10px 15px 10px 25px; }

/* Example page*/
.bs-docs-section .page-header {
  padding: 0;
  border: none; }
  .bs-docs-section .page-header h1 {
    font-size: 27px; }
.bs-docs-section h3 {
  font-size: 22px; }
.bs-docs-section .sub_title {
  font-size: 14px;
  font-weight: bold;
  color: #989898;
  text-transform: uppercase;
  margin-top: 20px; }
.bs-docs-section .bs-example {
  position: relative;
  padding: 15px;
  background-color: #fafafa;
  border: 1px solid #e8e8e8;
  margin-bottom: -1px; }
  .bs-docs-section .bs-example.bs-img-example {
    background: #fff; }
    .bs-docs-section .bs-example.bs-img-example img {
      max-width: 100%; }
.bs-docs-section .highlight {
  padding: 9px 14px;
  margin-bottom: 14px;
  background-color: #f7f7f9;
  border: 1px solid #e8e8e8; }
  .bs-docs-section .highlight pre {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    background-color: transparent;
    border: 0;
    white-space: nowrap; }

/* Error pages */
.error_page .brand {
  margin-bottom: 20px;
  display: inline-block; }
.error_page h1 {
  font-size: 30px; }
  .error_page h1 .glyphicon:before {
    font-size: 30px; }
.error_page h2 {
  font-size: 20px;
  color: #989898; }
.error_page .btn {
  margin-right: 5px;
  padding: 4px 12px;
  border: 1px solid #CCC;
  border-bottom: 2px solid #45ada8;
  text-transform: uppercase;
  font-size: 17px; }
  .error_page .btn:last-child {
    border-bottom: 2px solid #547980; }
.error_page .icon {
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
  margin-top: -10px; }
  .error_page .icon.icon-unauthorized {
    background: url(../images/icn-err_unauth.png) 0 0 no-repeat; }
  .error_page .icon.icon-notfound {
    background: url(../images/icn-err_notfound.png) 0 0 no-repeat; }
  .error_page .icon.icon-error {
    background: url(../images/icn-err_error.png) 0 0 no-repeat; }

/* Footer */
.footer {
  background: #f1f1f1;
  padding: 20px;
  margin-top: 20px; }
  .footer ul {
    list-style-type: none;
    margin: 0 0 10px 0;
    padding: 0; }
    .footer ul li {
      display: inline-block;
      margin-right: 5px; }
      .footer ul li .divider {
        margin-left: 5px; }

.affix {
  position: fixed; }

.affix-bottom {
  position: absolute; }

.bs-sidebar.affix {
  position: fixed;
  top: 0; }

/* responsive for fixed menu */
@media screen and (min-width: 920px) {
  .bs-sidebar.affix-bottom,
  .bs-sidebar.affix {
    width: 214px; } }
@media screen and (min-width: 1200px) {
  .bs-sidebar.affix-bottom,
  .bs-sidebar.affix {
    width: 229px; } }
@media screen and (max-width: 959px) {
  .bs-docs-section .bs-docs-tech {
    display: block; }
    .bs-docs-section .bs-docs-tech > div {
      border: none;
      border-bottom: 1px solid #3e9b96;
      border-top: 1px solid #52bab5;
      display: block;
      padding-bottom: 0; }
    .bs-docs-section .bs-docs-tech .btn {
      position: relative; } }
@media (max-width: 756px) {
  .brand img {
    max-width: 230px; }

  .pull-right {
    /* Enable use of floated navbar text */
    float: none !important; }

  .navbar .nav-collapse {
    margin-top: 0; }

  .dropdown-menu {
    position: relative;
    top: auto;
    right: auto;
    float: none;
    border: 0; }
    .dropdown-menu a {
      font-size: 18px; }

  .row {
    margin-right: 0;
    margin-left: 0; }

  .bs-table-scrollable {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    overflow-x: scroll;
    border: 1px solid #DDD; }

  .footer {
    padding: 10px; }
    .footer .pull-right {
      margin-top: 10px; } }
